[2021-06-07 23:02] mitchellh commented on #1614
There's a ton of ways to do this but this makes sense to make an operation pollable, but the interface should be separate of course because things like `Project` are not operations :) And things like `Project` may actually have multiple things they want to poll on (right now its just Git stuff but we could add another field to project).

I think you're thinking about this right but just noting. :)

[2021-06-08 05:13] paladin-devops opened #1615 "Nomad interpolation not supported when using templating"
I've been attempting to adopt the use of the nomad-jobspec "deployer" with the release of 0.4.0. My team and I thought this would be great for managing our Nomad deployments by deploying our existing Nomad job files. Variables are supplied to the existing Nomad job files; however when using templating in conjunction with nomad-jobspec, the variables are not being interpolated properly. Namely in t

[2021-06-08 10:44] jgwhite opened #1616 "Render application READMEs"
Render application READMEs as pulled in by core in #1502.

[2021-06-08 11:31] #1587 closed

[2021-06-08 16:24] mitchellh commented on #1615
Ah yes, we're running into Nomad and Waypoint both using HCL. I think you have to escape your Nomad-specific interpolations, so change `${meta.` to `$${meta.`. This is because Waypoint has to template its stuff in first, followed by Nomad's. A bit ugly, but we're nesting the same templating formats here.

[2021-06-08 16:36] evanphx commented on #1390
@digitalsanctum Could you tell us a little about your Docker production setup, are you using Docker swarm?

[2021-06-08 16:47] digitalsanctum commented on #1390
@evanphx EKS

[2021-06-08 16:52] mitchellh opened #1621 "OIDC and User Accounts"
In 0.5 we want to support signing up and logging into Waypoint using OIDC providers (including GitHub, which isn't strictly OIDC). This will also require Waypoint having a more definitive user model. More details to come. 😄

[2021-06-08 16:59] evanphx commented on #1390
Oh, so this is not actually for Docker? I think I'm confused by the title of the issue now. Could you say more about your situation?

[2021-06-08 17:22] digitalsanctum commented on #1390
@evanphx Sorry for the confusion. We absolutely use docker (and docker-compose) for local dev and integration testing and EKS for production. Having more than just one port open for all environments would be useful.

[2021-06-08 17:39] paladin-devops commented on #1615
That worked! Thanks a lot Mitchell. First app deployed w/Waypoint

[2021-06-08 18:22] briancain opened #1622 "Enhancement/API: Add endpoint that retrieves a Deployment or Release with an associated status report"
**Is your feature request related to a problem? Please describe.**

When asking for a deployment or release, you likely also what to know what the reported health status was. For both the planned CLI command [waypoint status](https://github.com/hashicorp/waypoint/issues/1501) and future UI enhancements or current UI improvements (/cc @jgwhite for any additional context), having this endpoint seems

[2021-06-09 07:00] paladin-devops commented on #1491
I have run my server install for a remote cluster install with https (not on localhost) with the command below. I hope this helps!

`NOMAD_ADDR="https://my-nomad-url.ops.local" NOMAD_SKIP_VERIFY=true waypoint install -accept-tos -platform=nomad nomad-dc=dc1 -tls=false`

[2021-06-09 07:08] paladin-devops commented on #1159
The feature I'm looking for is similar but not quite the same as the request from @prabirshrestha. I'm more interested in the advertisement of a Waypoint URL to access Waypoint itself, ideally through Consul where tags could be applied and then picked up by an instance of Traefik, also running in Nomad.

Accessing the Waypoint UI is a bit of a pain at the moment as I'm reliant on port tunneling, a

[2021-06-09 09:11] jgwhite commented on #1622
As you say, this seems like it has a high return-on-investment.

One thought: do we go with a very-explicit `ListDeploymentsWithStatusReports` or something more general like `ListDeploymentsExpanded` to encompass bundling in `status_reports`, `artifact`, `build`, `deploy_url`, and any other associated entities we may wish to include in future?

A very rough sketch:

[code]

The term “expanded” is

[2021-06-09 14:39] briancain commented on #1622
Totally, I think something like `ListDeploymentsExpanded` is probably a more future thinking way to go about implementing this. I'm sure there will be other _things_ we'll associate with deployments and releases in the future so those API calls could stay the same but get more data in the future. Sounds good to me! 👍🏻

[2021-06-09 14:40] briancain commented on #1622
We can totally bike shed on the name too once the implementation starts. Maybe `List(Deployments|Releases)FullDetails`? 🤔

[2021-06-09 19:15] jgwhite commented on #1622
`List(Deployments|Releases)WithKitchenSink` 😅

[2021-06-09 19:32] ragesoss commented on #1579
Thanks! The `pack` upgrade from `0.15.1` to `0.18.1` makes sense... I'm guessing based on a pretty cursory exploration that it's because the `pack` bump included a bump to `lifecycle` which included [a change that sets the default entrypoint to `web` if it's using buildpack API lower than `0.6`](https://github.com/buildpacks/lifecycle/pull/520)... and ours in `0.2`. So (fingers crossed) I can try

[2021-06-09 21:27] ragesoss commented on #1579
(That didn't work, as it looks like the buildpack isn't compatible with buildpack API `0.6`, so I guess I'll have to learn more about `pack` and `buildpack` and `lifecycle` to sort this out.)

[2021-06-09 22:52] #1537 closed

[2021-06-10 13:00] #1541 closed

[2021-06-10 16:00] #1397 closed

[2021-06-11 08:25] jcollado opened #1641 "Error when destroying AWS lambda function resources"
**Describe the bug**
Error on `waypoint destroy` when following the AWS lambda deployment tutorial

**Steps to Reproduce**
Follow the tutorial here:
https://learn.hashicorp.com/tutorials/waypoint/aws-lambda

When running `waypoint destroy`, the error is as follows:
[code]

On a second execution of the same command, it seems to work fine:
[code]

However, looking at the AWS console, the following r

[2021-06-11 08:35] jcollado opened #1642 "Error when installing server on docker"
**Describe the bug**
`waypoint install --platform=docker -accept-tos` fails to complete

**Steps to Reproduce**
Run `waypoint install --platform=docker -accept-tos` and get the following error:
[code]

The server is running according to docker:
[code]

However, if I remember correctly, when trying the same command in `0.3`, it worked and runner container was also running next to the server contain

[2021-06-11 09:12] jgwhite commented on #1642
The output indicates that the server booted from an existing database, likely from an existing docker volume, for which you no longer have a token (stored in a CLI context).

If you’d like to start again from a clean slate, try the following:

1. Uninstall the server from docker:
[code]
2. Remove the `waypoint-server` volume (the previous step may have achieved this):
[code]
3. Try installing the

[2021-06-11 10:25] kostis-codefresh opened #1643 "Add a "test" stage to the waypoint lifecycle"
**Is your feature request related to a problem? Please describe.**
The lifecycle is missing a test stage where I am running unit/integration tests for my application

**Describe the solution you'd like**
Add a brand new lifecycle stage called "test" with the respective commands

**Describe alternatives you've considered**
Using Hooks but I don't think this is a clean solution

**Explain any additi

[2021-06-11 12:23] jcollado commented on #1642
Removing the docker volume worked as expected. Thanks!

[2021-06-11 12:23] #1642 closed

[2021-06-11 15:23] krantzinator opened #1645 "Resource-level awareness in the plugins"
**Is your feature request related to a problem? Please describe.**
Previously, Waypoint did not have a way to track resources created by plugins. This led to issues such as #805 and #1641.

**Describe the solution you'd like**
With the addition of resource awareness added to the plugin SDK in 0.4.0, we can now update plugins to know what resources it is creating, and thus handle cleanup.

Plugins

[2021-06-11 15:28] krantzinator commented on #1641
Thanks for opening an issue! We'll be working on this for an upcoming release.

[2021-06-11 15:28] krantzinator commented on #805
We plan to address this in an upcoming release.

[2021-06-14 12:37] mreferre opened #1651 "waypoint server install [ECS] can't accept a list/array of subnets"
**Describe the bug**
It is not possible to specify a list of subnets in the `waypoint server install` to the `ECS` platform. By default Waypoint pick all the subnets of the default VPC. However, as a user I would like to be able to explicitly pick a number of subnets either in the same VPC or another VPC.

**Steps to Reproduce**
I am trying to run the following command and the shell keeps complain

[2021-06-14 14:11] catsby commented on #1651
Hey @mreferre - apologies for the confusion here, I believe the correct syntax is `-ecs-subnets=subnet-d22cbcb4,subnet-0ad86842`, could you give that a try?

[2021-06-14 14:47] mreferre commented on #1651
Thanks @catsby for the quick turn around. Nope, I think that is one of the many variations I have tried. Just gave it a try again:

[code]

It just treats it the string as a single subnet (not as a list).

[2021-06-14 15:54] catsby commented on #1651
hrm very strange, I'll dig in further thanks!

[2021-06-15 13:49] koesbong opened #1653 "Automatically inject CHANGELOG in release pipeline using go-changelog"

[2021-06-15 13:49] koesbong opened #1654 "Run platform-specific integration tests (test-e2e folder) on a cadence in CircleCI"

[2021-06-15 13:50] koesbong opened #1655 "Add/update examples to use ECS Server"

[2021-06-15 13:52] koesbong opened #1656 "Resource-level awareness in the plugins"
Use the 0.4.0 SDK work to leverage operating on resources

[2021-06-15 15:01] briancain commented on #1653
My thoughts on this one is it would be good if we had either a review of the changelog being added, or some way to audit the changelog before it gets automatically committed since I know we've tended to highlight important features in releases. It could potentially just be a pre-release manual step or check before the pipeline starts.

[2021-06-15 15:03] briancain commented on #1656
This one is already covered by https://github.com/hashicorp/waypoint/issues/1645 so I'm going to go ahead and close this one!

[2021-06-15 15:03] #1656 closed

[2021-06-15 17:11] paladin-devops opened #1659 "Consul Service opt-in for Nomad Waypoint server deployment"
Accessing Waypoint in Nomad data center has lead to a dependency on port tunneling from the local environment.

Requesting in the Waypoint server install for Nomad to add an option to register a service in Consul, via a "service" stanza for the Waypoint job. This would allow us to use a traffic router to access the Waypoint service more easily.

Snippet of Waypoint job definition in Nomad, specifi

[2021-06-15 19:00] ragesoss commented on #1579
Okay! I think I've got an understanding of what was going wrong (although I'm not 100% confident that I've got the right picture). The fix was to add `entrypoint = ["launcher"]` to the config for each of the Nomad tasks.

For images built by the older `pack`, it seems that starting a task without specifying an entrypoint would result in running the "command" without an entrypoint (as described [he

[2021-06-15 19:00] #1579 closed

[2021-06-16 09:12] #1590 closed

[2021-06-16 10:26] jgwhite commented on #1588
We’re going to be reworking this UI shortly so this issue is no longer needed.

[2021-06-16 10:26] #1588 closed

[2021-06-16 10:26] jgwhite commented on #1586
We’re going to be reworking this UI shortly so this issue is no longer needed.

[2021-06-16 10:26] #1586 closed

[2021-06-16 13:57] jgwhite commented on #1581
The plans in WP-071 will address this.

[2021-06-16 14:25] jgwhite commented on #1622
@briancain shall we take this out of the 0.4.x milestone? It’s definitely a good goal, but probably not a requirement for 0.4.x

[2021-06-16 14:45] jgwhite commented on #1513
Just to ensure we’re all on the same page about the scope of these changes:

![image](https://user-images.githubusercontent.com/34030/122240719-474ae500-cec2-11eb-9630-630eb122a110.png)

[2021-06-16 15:33] briancain commented on #1622
I was planning on using it for the [waypoint status](https://github.com/hashicorp/waypoint/issues/1501) command, so I'll move it into the 0.5.0 bucket since I think it's more or less required to make that easy to implement. But totally not a 0.4.x requirement, good call!

[2021-06-16 16:37] evanphx commented on #1659
Looks like it just requires waypoint to setup a service stanza in the job, sounds good! We'll work on prioritizing the work.

[2021-06-16 16:39] evanphx commented on #1643
Hi @kostis-codefresh, at present we consider testing outside the scope of waypoint because so many people use a variety of services for CI.

In terms of testing, are you looking mostly to validate that the code that is going to be deployed has already been tested?

[2021-06-16 17:01] evanphx commented on #1510
From @izaaklauer's mouth "Oh yeah, just close that. This was a me problem."

[2021-06-16 17:01] #1510 closed

[2021-06-16 17:02] kostis-codefresh commented on #1643
Hi @evanphx . Yes of course that is what I expect. Right now it is very easy to deploy stuff that has zero testing. I don't think this is a good practice.

For inspiration you can also look at garden tests. I am not saying that this is how you should do it, just offering a similar approach from another tool https://docs.garden.io/using-garden/tests. Same for skaffold (Notice the build/deploy/test

[2021-06-16 17:02] evanphx commented on #1521
Given the merger of #1538, we're going to presume that these are fixed.

[2021-06-16 17:02] #1521 closed

[2021-06-16 17:06] evanphx commented on #1348
@hashicorp/nomad-ecosystem Hi Nomad team! Could you advise us on the best way configure waypoint to make sure the data is presisted?

[2021-06-16 17:07] evanphx commented on #1353
Hey there,

I am going to close this due to lack of response. If this is still occurring, please open a new issue and follow the provided issue template that appears when you click the "New Issue" button. This will help us in getting a reproduction and fix. Thanks!

[2021-06-16 17:07] #1353 closed

[2021-06-16 17:21] evanphx commented on #1407
This is mostly that we need to package `kubectl` in our image and then document that the pod servicetoken can be used to get access to the cluster without extra configuration.

[2021-06-16 17:23] evanphx commented on #1641
This will be fixed when #1611 is merged.

[2021-06-16 20:02] #1081 closed

[2021-06-17 09:56] denysvitali opened #1665 "Feature Request: Workspace-scoped project settings"
**Is your feature request related to a problem? Please describe.**

For some reason, setting up the project settings on a workspace, applies them to _all the workspaces_.
This could either be a good thing (no need to do it manually), but also a bad thing (you can't have branch=workspace for a project).

**Describe the solution you'd like**
Ideally, one should be able to poll from git using differe

[2021-06-17 13:47] izaaklauer commented on #1513
I like the idea of having some advanced way to get the internal ID out of the UI, both for us and for advanced users trying to reference debug logs.

Other than that, I agree with the scope of the UI changes.

[2021-06-17 20:11] lgfa29 commented on #1348
Hi @evanphx 👋

As @apollo13 mentioned, there are two mechanisms for persistence in Nomad: host volumes and CSI. By default allocation disk state is store within Nomad's `data_dir` path, and it's garbage collected when allocations stop.
​
Sticky disk helps in the case where the allocation is restarted (maybe it OOM'ed, or preempted for some reason). Nomad will  try to reschedule it in the same host

[2021-06-17 20:58] #1651 closed

[2021-06-17 20:59] catsby commented on #1651
Hey @mreferre thanks again for reporting this. I fixed it in #1669 but updating how we parse the inputs. After the next release, the correct format will be what I suggested above `-ecs-subnets=subnet1,subnet2`

[2021-06-18 00:23] evanphx commented on #1513
Yes, you're correct @jgwhite. We have the sequence number there, it's the #4 or v4 in other views. View wise, we can just not show the ulid if the sequence number is right there too, giving more visual area for other things.

[2021-06-18 00:33] evanphx commented on #1643
@kostis-codefresh Thanks for the info, I'll checkout what garden.io is doing here. I ask because one case we've been considering is integration with your existing CI. So your CI system could signal to waypoint that a certain ref has passed testing then you could say "only build if CI has said this passed". Would that satisfy your requirement or are you still looking to always run test prior to bui

[2021-06-18 07:15] kostis-codefresh commented on #1643
@evanphx that would solve half the problem (running in CI). What about local runs?

Both Skaffold and Garden have the same lifecycle regardless of the environment (local workstation or running inside a CI system)

[2021-06-18 09:07] jgwhite commented on #1513
@evanphx perfect. That fits in well with @almonk’s latest designs.

[2021-06-18 10:23] jgwhite commented on #1616
Prior art for hardening [showdown](https://github.com/showdownjs/showdown) for the purposes of rendering untrusted READMEs:

[code]

[2021-06-18 15:20] briancain commented on #1665
Hey there @denysvitali ! Thanks for the issue. I'll try to give some context to some of the info in there just to fill out the gaps for the issue 😄

After looking into this, it seems to be a limitation of the current API. There's no way to apply settings to a certain workspace, and so when you save settings it gets applied to everything. We should fix this! It looks like the first step is making `

[2021-06-18 15:30] denysvitali commented on #1665
Thanks for the detailed answer Brian!

Since this is a little bit of a showstopper for our use case (deploying multiple environments from a single GitOps repository) I'll try to tackle the issue myself if you don't plan to do it soon - thanks for the pointers! 😊

[2021-06-18 16:04] briancain commented on #1665
@denysvitali - I would recommend waiting a bit before trying to tackle the issue. After chatting with the team this morning about this issue, the reasoning behind why the initial implementation of workspace settings is so simple was to ensure whatever solution we come up with for multi-workspace settings, promotion workflows, etc, will work without any major architecture refactoring. You are runni

[2021-06-18 17:08] ragesoss opened #1675 "Error message from nomad-jobspec does not identify problem(s) with job template"
**Describe the bug**
I'm trying out the new `nomad-jobspec` plugin as (perhaps) the blessed way to deploy a Nomad job, in place of what we've been doing. It doesn't work, but the error message doesn't give me a good idea of why.

[Working version](https://github.com/WikiEducationFoundation/WikiEduDashboard/blob/21b981e797af9d1c28206ef4482ed01cf46a3474/waypoint.hcl#L38) with [this job template](htt

[2021-06-18 17:15] mitchellh commented on #1675
I think I saw this in development and I think its an HCL bug where its failing to notify an unavailable var error. We'll get this fixed!

[2021-06-21 14:41] mschirbel commented on #1006
Any updates on this one?
I'm getting the same error on AWS EKS.

[2021-06-21 17:22] briancain commented on #1006
Hey there @mschirbel! - please open a new issue and fill out the requested information. We will be able to assist you there. Thanks 😄

[2021-06-21 20:48] mitchellh commented on #1675
I'm chasing down the HCL bug, but that is just masking the real issue here which is that `templatefile` uses the HCL templating format and Nomad itself is an HCL file. So when templating, we're evaluating all the functions and variables that Nomad exposes (which we obviously don't).

Escaping everything is kind of painful in Nomad so I'm thinking 🤔 about how we should make the ergonomics around th

[2021-06-21 21:44] nathancoleman commented on #1517
I ran into this issue recently and resorted to creating separate applications for development and production. This wasn't ideal though and seems to go against the spirit of applications described [here](https://www.waypointproject.io/docs/waypoint-hcl/app) and [here](https://www.waypointproject.io/docs/projects#multiple-applications).

[2021-06-22 01:58] izaaklauer opened #1682 "Bug: malformed GRPC bodies cause server panics"
**Describe the bug**

Waypoint crashes when exposed to malformed GRPC requests. This is a pretty general issue across multiple endpoints.

**Steps to Reproduce**

A few specific examples:

### Missing body panic

Failing to provide a request body causes server panics for `GetDeployment`, `GetRelease`, `GetBuild`, and potentially other endpoints.

`grpcurl --insecure -H "client-api-protocol: 1,1" -

[2021-06-22 02:35] mitchellh commented on #1682
We've added a general way to do request validation in 0.3 or 0.4, but we only added it to newer RPC endpoints. We should copy that style and add em to these endpoints.

[2021-06-22 12:29] izaaklauer opened #1684 "Bug: build never falls back to img"
**Describe the bug**
Waypoint currently does not fall back to using `img` builds when docker is not present.

**Steps to Reproduce**
Install waypoint with docker, create a new project with github polling configured, and observe as the runner fails the build complaining about the docker socket.

This can also be observed by enabling trace logging and performing a normal `waypoint build` locally wit

[2021-06-22 17:10] catsby commented on #1257
Hello all -
We can probably add some configurable things here. For configuring it, would you expect to supply your own IP range, an existing security group to use instead, or both? I would imagine both?

ex:

[code]

[2021-06-22 17:16] lukemelia commented on #1257
Hi @catsby. For my use case, specifying an existing security group ID would be appropriate. (BTW, the security group in question is "owned" by terraform, so if there was a way to reference the output of a terraform config, that could be very interesting!)

[2021-06-22 18:21] apollo13 opened #1692 "Provide a way to specify a default nomad template server-side"
**Is your feature request related to a problem? Please describe.**

I'd like to use waypoint and I love that I already can specify a nomad job file. Nevertheless I like waypoint for it's simplicity and would love to not have to specify a custom nomad job file. Instead I'd like to override the default nomad job template that is used on the server side to provide a set of sensible defaults for our c

[2021-06-22 20:41] #1684 closed

[2021-06-23 15:18] catsby commented on #679
Hello - we haven't heard back from you in a bit so we're going to close this for now. I've verified this works using Waypoint server running in ECS. If you have any more information please let us know and we can re-examine!

[2021-06-23 15:18] #679 closed

[2021-06-23 15:36] catsby commented on #1641
Hello there! https://github.com/hashicorp/waypoint/pull/1648 should resolve this issue, and will go out in the next release. I'm going to close this for now, thanks!

[2021-06-23 15:36] #1641 closed

[2021-06-23 16:42] evanphx opened #1700 "Add validations to all unauthenticated endpoints"
Related to #1682, we should validate all request values, but first let's make sure all the unauthenticated endpoints have these validations.

Validations like this: https://github.com/hashicorp/waypoint/blob/4f7174861053bb0bf51a17a26d56120867c5b7b1/internal/server/ptypes/workspace.go#L30-L37

[2021-06-23 16:50] evanphx commented on #1692
Hi @apollo13 , you can use `templatefile` to template a job spec, which means you could store the same template in each project and then template the generic version. This would mean that each project holds the same generic version, which would be annoying to update. Is this along the lines you're thinking, but where the template is stored in a place where you only need to update it once for all p

[2021-06-23 17:10] evanphx commented on #949
Hey there,

I am going to close this due to lack of response. If this is still occurring, please open a new issue and follow the provided issue template that appears when you click the "New Issue" button. This will help us in getting a reproduction and fix. Thanks!

[2021-06-23 17:10] #949 closed

[2021-06-23 17:12] evanphx commented on #1368
Hey there,

I am going to close this because we feel that the upcoming Variables work will likely satisfy your needs. If this is still occurring, please open a new issue and follow the provided issue template that appears when you click the "New Issue" button. This will help us in getting a reproduction and fix. Thanks!

[2021-06-23 17:12] #1368 closed

[2021-06-23 17:15] evanphx commented on #1399
Hey there,

I am going to close this due to lack of response. If this is still occurring, please open a new issue and follow the provided issue template that appears when you click the "New Issue" button. This will help us in getting a reproduction and fix. Thanks!

[2021-06-23 17:15] #1399 closed

[2021-06-23 20:54] apollo13 commented on #1692
Jupp, that is my exact libe of thinking. One workaround I can imagine: if a plugin named "named" can override the built-in plugin (is this possible or would the internal one win?) then this would be already good enough.

Please note that my usecase is one where the runners are organization managed and nothing is done on the dev machine. Ie waypoint polls git and then orchestrates according to that

[2021-06-23 22:18] izaaklauer opened #1704 "Bug: `waypoint runner agent -remote` panics"
**Describe the bug**
Running `waypoint runner agent` with the `-remote` flag causes a panic for me under all circumstances.

Trace:
[code]

**Expected behavior**

I am honestly not sure what this flag is supposed to be doing. I ran across it accidentally while trying to set up a standalone runner.

**Waypoint Platform Versions**
Additional version and platform information to help triage the issue

[2021-06-23 22:38] mitchellh commented on #1704
I don’t think the `waypoint runner` should take the `-remote` flag. Definitely a bug here but noting that that flag is non-sensical so we shouldn’t IMPLEMENT it, we should just fix the crash haha.

[2021-06-24 16:44] briancain opened #1707 "CLI: Add a `-prune` flag to `waypoint context verify`"
**Is your feature request related to a problem? Please describe.**

As Waypoint server contexts are destroyed out of band from the `waypoint server uninstall` command, there ends up being a lot of stale contexts left on disk. You can either delete them one by one (assuming you know which ones are valid), or you can delete them all at once with `waypoint context delete -all`. If you have any valid

[2021-06-25 09:27] jgwhite commented on #784
@gregone the current implementation of `<OperationLogs>` uses [triple-curlies](https://github.com/hashicorp/waypoint/blob/v0.4.0/ui/app/components/operation-logs/index.hbs#L48) and [self-described “simple escaping”](https://github.com/hashicorp/waypoint/blob/v0.4.0/ui/app/helpers/ansi-to-html.ts#L8-L9). This is a potential XSS vulnerability and an extra incentive for us to upgrade our log-renderin

[2021-06-25 10:06] gregone commented on #784
@jgwhite Yeah, it's been a long-standing task to rewrite this. Fortunately I just got started on it

[2021-06-25 16:51] paladin-devops commented on #1613
The Nomad client on which Waypoint was deployed in my cluster had an issue and crashed, causing Waypoint to be rescheduled to another client. However, on that new client, it fails to start up.

The only work around I've found to this is to completely uninstall Waypoint from the Nomad cluster and reinstall it. However, if the new node on which it gets deployed crashes, I suspect that the same issue

[2021-06-25 22:42] #1704 closed

[2021-06-26 17:54] wesky93 commented on #805
In my case, even the ECS cluster and task have not been deleted.

[2021-06-27 06:54] paladin-devops commented on #1659
Took a stab at this in #1719

[2021-06-27 19:42] dzrtc opened #1720 "Ability to disable `waypoint exec` to mitigate security risk."
**Is your feature request related to a problem? Please describe.**
The existence of `waypoint exec` creates a security vulnerability in my environment, but the other capabilities of the entrypoint are nice.

**Describe the solution you'd like**
I'd like to be able to disable support for `waypoint exec` without disabling the Waypoint entrypoint entirely.

**Describe alternatives you've considered**

[2021-06-27 19:43] mitchellh commented on #1720
Agreed, this is something we’ve wanted to do.

[2021-06-27 23:00] 1mamute opened #1721 ""bad signature: invalid authentication token" with new tokens"
**Describe the bug**
Hello, i'm trying to setup a waypoint server to test the application with our team.
- I created an EC2 instance with ports 9701 and 9702 open in the security group.
- I SSHed in the instance and installed docker, waypoint.
- Runned `waypoint install -platform=docker -accept-tos`, looked the logs with `docker logs -f waypoint-server` and the server's up. I reached the webUI in

[2021-06-28 00:54] KieranP opened #1722 "ECS Server Install Subnet Flag Not Working"
When providing -ecs-region, passing multiple subnets doesn't work, it's not splitting by the comma properly. Have tried multiple combinations:

[code]

**waypoint.hcl**

[code]

**Expected behavior**
Should spin up Waypoint server on ECS using the two provided subnets

**Waypoint Platform Versions**

[code]

[2021-06-28 15:44] mandarenmanman opened #1728 "Build failed : executing lifecycle. This may be the result of using an untrusted builder: failed with status code: 101"
# error message

[detector] ======== Output: heroku/jvm-function-invoker@0.2.11 ========
[detector] shasum: /tmp/utils/bin/jq:
[detector] Invalid jq sha:
[detector] err:  heroku/jvm-function-invoker@0.2.11 (1)
[detector] ERROR: No buildpack groups passed detection.
[detector] ERROR: failed to detect: buildpack(s) failed with err
executing lifecycle. This may be the result of using an untrusted bui

[2021-06-28 19:45] justinclayton commented on #1398
@evanphx I'm getting the same issue with EKS with Kubernetes version 1.19 and Waypoint version 0.4.0. Here are the pod's logs:

[code]

[2021-06-28 20:01] catsby commented on #1398
Hello - I think I may have tracked this down and I'm working on a fix today. I'll update as soon as I can, thanks for all the info!

[2021-06-29 02:32] #1728 closed

[2021-06-29 13:55] jgwhite commented on #1238
This work was partially blocked by #1684 but is now unblocked thanks to #1685

[2021-06-29 17:56] gregone opened #1736 "Create a UI-only JobStream Endpoint"
Currently, the CLI renders terminal events using glintUI, and those events are not formatted when received through the `GetJobStream` API endpoint.

**Describe the solution you'd like**
- a wrapper around UI.output to pipe events to the new stream
- A second API endpoint that streams all of the events as terminal events (server + terminal)

[2021-06-29 21:12] catsby commented on #1398
I've opened https://github.com/hashicorp/waypoint/pull/1735 which appears to fix this issue by sending periodic keepalive pings. It's waiting for review

[2021-06-29 21:41] paladin-devops commented on #1659
@evanphx I added two services in #1719 , one for the UI and one for the Waypoint backend, so that not only the UI could be accessed, but also so that a CLI context could be created against the service running on 9701.

[2021-06-30 16:34] #1722 closed

[2021-06-30 16:58] krantzinator commented on #1645
We'll circle back to this after the work is done for #1605

[2021-06-30 17:54] izaaklauer commented on #1721
Hey 1mamute,

That "bad signature: invalid authentication token" error that you're seeing generally occurs when you present waypoint with an invite token generated by a different waypoint server. Did you run `waypoint token new` on the ec2 instance that you installed the server on?

After you run `waypoint token new` on your ec2 server, and you use that token to authenticate in the UI, you'll be a

[2021-06-30 17:55] gregone opened #1744 "Better documentation about running a remote server"
**Is your feature request related to a problem? Please describe.**
The documentation sections for
- Running a server https://www.waypointproject.io/docs/server/run
- Authentication https://www.waypointproject.io/docs/server/auth#cli
only briefly mention contexts, and does not offer a detailed flow for running a remote server.

**Describe the solution you'd like**
A "running a remote server" doc

[2021-06-30 20:54] #1398 closed

[2021-06-30 22:24] 1mamute commented on #1721
Hey @izaaklauer,

Yes, I ssh'ed in the EC2 instance and run `waypoint token new`. I copied to token directly from the terminal to the UI, several times.

I'm 100% sure I was copying the token from inside the EC2 instance. `waypoint token invite` also didn't worked.

Is there any other information I can give so we can find if i'm doing something wrong or the token is not being correctly checked?

[2021-06-30 23:22] izaaklauer commented on #1476
It's a race condition.

### How to replicate:

1. Change the GRPC Server's forceful stop timeout from 2 seconds to 15 seconds, and recompile the waypoint server: https://github.com/hashicorp/waypoint/blob/0e6d2e4302adc936ea70456241a6151e574a8e8e/internal/server/grpc.go#L92
2. Run the waypoint server.
3. Run `waypoint build` in some project
4. Visit the waypoint UI for that project, and click on th

[2021-07-01 10:18] gregone commented on #1721
@1mamute did you generate multiple contexts? And are you using the correct one from the CLI? You can run `waypoint context list` to see what you have and what default context you are using. It could be that your token was created for a different context than the one you're using, and is therefore not valid.

We tried your setup (without the LB) and it works as expected.

[2021-07-02 07:42] apollo13 opened #1762 "Poor man's waypoint.run implementation"
I simply cannot and do not want to use `waypoint.run`. I do understand that adding more code to the entrypoint to support other types of ingress probably makes no sense either. But I could imagine the following:

 * Allow starting waypoint with a disabled URL service and a "base-domain name" ala `--domain waypoint.office.lan`
 * Expose this domain as well as a hostname to the service created. To c

[2021-07-02 09:25] marcotuna opened #1763 "Waypoint Server on ECS installing already existing instance"
**Describe the bug**
When attempting to install on an already existing Waypoint Server instance running on ECS it throws a panic error while attempting to "Registering Task definition"

**Steps to Reproduce**
- Have an already running instance of Waypoint Server on ECS running with version 0.4.0.
- Have the Waypoint CLI with version 0.4.1 and attempt to install

Log excerpt:
[code]

**Expected beh

[2021-07-05 06:41] denysvitali opened #1765 "Feature Request: Project Folders"
**Is your feature request related to a problem? Please describe.**
Initially I though that the Project -> Application structure was basically a way to group multiple applications (e.g: applications part of a project) into a single container. This unfortunately is not really the case as per Waypoint terms, a project is a single deployable entity.

**Describe the solution you'd like**
To better sepa

[2021-07-05 19:32] 1mamute commented on #1721
Tried again today, this time with waypoint 0.4.1. Everything went well. Don't know what I was doing wrong.

![image](https://user-images.githubusercontent.com/22196761/124512357-84621300-ddae-11eb-8a70-fef85d5866d8.png)

![image](https://user-images.githubusercontent.com/22196761/124512365-8926c700-ddae-11eb-8bf7-5f849438b3cd.png)

Closing the issue for the time being, If i jump into the problem I

[2021-07-05 19:32] #1721 closed

[2021-07-05 20:56] 1mamute commented on #669
I'm also getting this error.
- All ports are open in my ec2 instance
- Runned `waypoint install -platform=docker -accept-tos` then `waypoint token new`
- Used the token to authenticate in the UI, all good.
- Copied the CLI snippet above to my terminal and got the error in the screenshot

[code]

![image](https://user-images.githubusercontent.com/22196761/124517364-2c310e00-ddba-11eb-8624-238caf499

[2021-07-06 13:20] izaaklauer commented on #1721
@1mamute Glad it's working now, and please let us know if you experience this kind of issue again! We'll keep our eyes out for others experiencing this kind of problem too.

[2021-07-06 15:00] #1513 closed

[2021-07-07 13:56] jgwhite opened #1794 "Regenerate web UI screenshots for 0.4.x changes"
Regenerate the following web UI screenshots improve consistency and incorporate the changes from #1668, #1713 and others.

- `getting-started/admin-ui.png`
- `new-waypoint-install-ui.png`
- `new-waypoint-project.png`
- `project-git.png`
- `ref-tracking-git.png`
- `upgrade-0.2.0/version.png`
- `waypoint-project-created.png`

[2021-07-07 14:53] jgwhite commented on #1581
Closed by #1668

[2021-07-07 14:53] #1581 closed

[2021-07-07 15:02] jgwhite commented on #1287
I’m going to take a quick look at this in light of #1668, and the new way we approach status indicators. I don’t think that change will have brought any accidental fixes, but may give us more of a steer on where to go with this. Either way, I propose deferring this until a later milestone (given that we’re approaching 0.5 and should be clearing 0.4.x items).

[2021-07-07 15:43] izaaklauer opened #1795 "`waypoint server upgrade` on kubernetes does not upgrade if `latest` tag image is cached."
**Describe the bug**
If you don't explicitly set a `k8s-server-image`, running `waypoint server upgrade` will default to using `hashicorp/waypoint:latest`. If that's already cached on the node waypoint is running on, the new deployment will use the cached image instead of re-pulling to get the actual latest version.

**Steps to Reproduce**
- Install waypoint on a single-node kubernetes cluster, wi

[2021-07-07 15:58] briancain commented on #1795
I think we should enhance the server upgrade command to grab the pull policy for the server pod. If it's not latest and the pull policy isn't `always`, print a warning that the upgrade won't happen immediately until the pods image is pulled. Then the warning should mention to re-run the command and specify the pull policy or if there's a one-off force latest pull we could include that as a flag an

[2021-07-07 16:32] denysvitali commented on #1665
I'm starting to tackle this issue by creating a `ScopedProjectSettings` map in the `Project`. The idea is to have a default implementation, and then some variations of that default based on the workspace.

I'm up for comments and suggestions :)

[2021-07-07 16:46] krantzinator commented on #1765
The architecture around this is currently being discussed internally. Thanks for this input!

[2021-07-07 16:49] denysvitali commented on #1765
(is there a way you can maybe set-up some calls / public discussions about these things with the community so that we can better understand the direction Waypoint is taking?)

[2021-07-07 16:51] krantzinator commented on #1762
This issue is being tracked and discussed in #1160. We still need better documentation on how to do this. If you have any more context or requests for documentation, feel free to leave in #1160!

[2021-07-07 16:51] #1762 closed

[2021-07-07 16:58] denysvitali opened #1796 "Polling should consider sub-directory of project for changes"
**Is your feature request related to a problem? Please describe.**
The way Waypoint works currently is well described by the following paragraph of the documentation:

Waypoint seems to be more focused on tackling the CI + CD part, but most of the time the CI part might be super complex and thus be handled by another tool such as Jenkins. This is why (I guess?) Waypoint lets you have a "Build" ste

[2021-07-07 17:25] krantzinator commented on #1228
Closed by #1548

[2021-07-07 17:25] #1228 closed

[2021-07-07 18:27] #1476 closed

[2021-07-07 20:14] krantzinator commented on #1765
This is absolutely open for discussion! Any additional input you or other contributors want to share here is welcome. I think I was a bit too brief in my original response, so let me try again 🙂
When I first joined the Waypoint project, my perception of the intent of Projects matched the understanding you shared above, so I share your desire to iron this out. I think your idea of adding delineatio

[2021-07-07 21:29] denysvitali commented on #1765
For this specific issue, yes, you're right, purely organizational / UI.

This is a paradigm that I'm challenging over at #1796: this paradigm is good for many use cases, but it's completely off for our case. I guess that this part is better discussed in that other issue :+1:

[2021-07-07 22:53] krantzinator commented on #1765
Thanks for the clarification! Will check out that other issue as well.

[2021-07-08 04:31] magodo commented on #1361
@wahmedswl I just created a [waypoint plugin for app service](https://github.com/magodo/waypoint-plugin-azure-app-service), maybe you wanna take a look?

[2021-07-08 10:42] wahmedswl commented on #1361
Hi, @magodo awesome 👍 from the quick look, its seems that its supporting container right now, is it? App Service support direct deploy from Storage Account etc, is that will also be supported.

Thanks

[2021-07-08 14:53] #1391 closed

[2021-07-08 14:58] denysvitali opened #1814 "Infinite loop in `runPollQueuer`"
**Describe the bug**
`runPollQueuer` is a goroutine that runs a `for` loop for polling from certain `DataSource`s and checking for changes. Unfortunately due to how it's built right now, this could cause an infinite loop that clogs the CPU if not handled correctly.

E.g:

https://github.com/hashicorp/waypoint/blob/5d8b237650355772baadf61ff3f631b2d501a9c2/internal/server/singleprocess/poll.go#L115-

[2021-07-08 15:27] mitchellh commented on #1796
There's multiple things here and they're all good:

## Polling should take into account sub-directories that a project specifies

This makes sense. I think one risk is you'd miss some changes if the project actually references files above its directory (which Waypoint doesn't restrict). I imagine that the default behavior ignoring this is correct, and we'd want some sort of override at some point

[2021-07-08 15:28] mitchellh commented on #1814
Thanks for catching this. I'm going to take a look at this and get a fix in.

[2021-07-08 15:29] mitchellh commented on #1814
We changed polling considerably for 0.5 since we're starting to poll multiple things, so I think for 0.4.x I'll probably just introduce a sleep as you've done. For 0.5 we'll properly just ignore projects completely that don't have a data source configured.

[2021-07-08 15:51] denysvitali commented on #1796
I actually wondered about the same, but we can have as a contract (between the user and Waypoint) that files changed outside of the "base path" will not trigger a deployment - which is totally fine if it's made crystal clear to the user IMHO.

Anyways, kind of unrelated question: is there a plan to have a flag to run `waypoint deploy` instead of `waypoint up`? I'm thinking on how feature branch pr

[2021-07-08 15:52] mitchellh commented on #1796
Yes, that sometimes work. We did this with Terraform and it angered people cause there are usually legitimate monorepo usecases where you want to reach out. We'll figure it out when we get there.

[2021-07-08 19:52] mitchellh commented on #1814
Actually didn't realize we backported our polling changes so the fix will hit both.

[2021-07-08 19:53] mitchellh commented on #1796
Note for Waypoint team members: I didn't put this into a milestone or remove the "new" label cause I dunno when we'll get to all this. 😄

[2021-07-08 20:31] #1814 closed

[2021-07-08 21:48] mitchellh commented on #1796
I got a fix for one thing here: https://github.com/hashicorp/waypoint/pull/1821

[2021-07-09 01:27] magodo commented on #1361
@wahmedswl Yes, currently it only supports container. Would you mind open an issue in the plugin repo for the feature you wanted?

[2021-07-10 14:12] dzrtc opened #1823 ""This is an advanced approach.""
**Is your feature request related to a problem? Please describe.**
I'm frustrated by the documentation because there is little information about running the tool from a shell environment.

The audience for folks setting up automated build pipelines isn't turned off by using the command-line, other Hashicorp products assume CLI knowledge, so it seems like a weird position to take to corral people i

[2021-07-12 09:54] jgwhite opened #1824 "ui: Add fallback info when status report is not available"
Currently we don’t show anything:

<img width="435" alt="image" src="https://user-images.githubusercontent.com/34030/125268214-c7206f80-e307-11eb-9d8e-3335d7a55ec5.png">

This should at least say “Deployed with Nomad” or similar.

[2021-07-12 15:15] warlockdn opened #1826 "Build failed : executing lifecycle. This may be the result of using an untrusted builder: failed with status code: 145"
**Describe the bug**
A clear and concise description of what the bug is.`

Everytime I am trying to do `waypoint build` or `waypoint up`. I keep getting the same message. Tried it with heroku and paketo as well.

Trying it out in **Windows 10**

I am trying out the examples repo.

It says failing to fetch dependencies but when I download the link directly it works

`failed to fetch dependency: fai

[2021-07-12 15:40] denysvitali opened #1827 "ui: Invalid URL for Release"
**Describe the bug**

With the latest commit on `main` (currently 2b60ebb), the following behavior can be noticed:
![image](https://user-images.githubusercontent.com/4939519/125315786-c1db1900-e337-11eb-99ae-ac0300113e9b.png)

Clicking the link redirects the user to `https://http://some-url`, which is obviously wrong. This seems the only place where we're prepending the `https` protocol: every oth

[2021-07-12 15:52] mitchellh commented on #1823
I'll respond to the broad strategic questions, but I think another WP team member will get to you about the specifics on using a CLI to manage Waypoint and our docs gap there! 😄  I'm responding _only and specifically_ to this:

Kind of, but not at the expense of CLI support. There is nothing possible in the UI that isn't possible through the API or CLI. We are focusing on the UI for docs and guide

[2021-07-12 15:53] briancain commented on #1823
Hey there @dzrtc! Sorry to hear that you are frustrated. Based on your issue title, it sounds like you were trying to enable git polling on the command line, via https://www.waypointproject.io/docs/projects/git? We could do a better job of splitting out that page to cover both workflows.

Were you able to figure out how to turn on git polling in the CLI? If not, you can handle this like the follow

[2021-07-12 16:11] briancain commented on #1826
Hey there @warlockdn - This looks to be an upstream issue with the dependency `go_1.16.5_linux_x64_cflinuxfs3_89520cb9.tgz` shipped by cloudfoundry. The error is telling you that their certificate that signed the package is unknown.

What does your waypoint.hcl file look like? Which buildpack are you using to get this error? I am currently using the heroku buildpack and I don't get the same error

[2021-07-12 16:52] warlockdn commented on #1826
@briancain its not only with paketo but also the same for Heroku. I wonder if this is a issue with WSL ?

Pack works directly. But with Waypoint seems to be giving issue.

[code]

[2021-07-12 16:56] dzrtc commented on #1823
@briancain Thank you for the support!  Your response could easily go directly into the documentation.

[2021-07-12 17:38] warlockdn commented on #1826
I just tried the exact same thing with pack and it works. Some issue seems to be with waypoint. Can you advise ?

[2021-07-13 08:17] denysvitali opened #1834 "ui: Invalid URL for Deployment"
**Describe the bug**
Pretty identical to #1827, but for Deployments.
For some reason we are automatically prepending `https://` to some URLs, but we're not on some others:

https://github.com/hashicorp/waypoint/blob/b698cd270b295d09ad178ae3aae67d3de034d9af/ui/app/components/app-card/deployment.hbs#L26-L34

https://github.com/hashicorp/waypoint/blob/e1c8ae868e0ac8c48dfc71bf0fc152335938c50b/ui/app/t

[2021-07-13 09:33] #1827 closed

[2021-07-13 12:46] #1834 closed

[2021-07-13 14:10] jgwhite commented on #1287
I’ve started to address this in #1840. It’s a significant change so I suggest targeting 0.5.0 or 0.5.x rather than 0.4.x, just to give us some more breathing room.

[2021-07-13 14:27] #1824 closed

[2021-07-13 15:13] denysvitali opened #1843 "`accept` argument of `WithAcceptURLTerms` is not used"
Kind of self-explanatory. Just noticed and it might be worth fixing 👍

https://github.com/hashicorp/waypoint/blob/6e6dbd95405adfdf6ee6b75b1f9ce8d014c08ced/internal/server/singleprocess/service.go#L225-L230

[2021-07-13 15:45] briancain commented on #1826
@warlockdn if pack works, I recommend using pack. These errors seem like an upstream issue to me.

Which waypoint.hcl and which project from the examples are you using exactly for this? This info will help us attempt to reproduce the issue.

I'm not sure given the error, it looks like the builder is failing to validate the authenticity of the package signature, so I'd think it would happen across

[2021-07-13 15:47] gregone opened #1845 "API Should return URLs in a consistent format"
**Is your feature request related to a problem? Please describe.**
As seen in https://github.com/hashicorp/waypoint/issues/1827 & https://github.com/hashicorp/waypoint/issues/1834 , we ran into issues with links to deployment and release URLs in the UI because there is a lack of consistency in the URLs returned by the API.

**Describe the solution you'd like**
any field named `<something>Url` shou

[2021-07-13 20:47] jgwhite opened #1853 "Make `<title>` dynamic in the UI"
**Is your feature request related to a problem? Please describe.**

Currently the UI has a static `<title>Waypoint</title>`. We can do better in terms of UX and accessibility.

**Describe the solution you’d like**

These days, Ember ships with dynamic page title support [out of the box](https://github.com/emberjs/rfcs/blob/master/text/0645-add-ember-page-title-addon.md) using [ember-page-title](ht

[2021-07-13 21:01] jgwhite opened #1854 "Out of order headings"
**Is your feature request related to a problem? Please describe.**

We currently have occurrences of both out-of-order headings and headings that skip levels.

https://user-images.githubusercontent.com/34030/125523753-5e13726b-592e-4322-a8d2-d3d9e20d66f4.mp4

**Any other background?**

We’ve deferred addressing this issue by [excluding certain elements from automated a11y testing](https://github.c

[2021-07-13 21:22] #1823 closed

[2021-07-13 22:31] briancain opened #1858 "Waypoint UI should display the commit SHA associated with a job"
**Is your feature request related to a problem? Please describe.**

When Waypoint goes through the build lifecycle, when using a project setup by git, it would be useful to know what version in your git repo the current build was built off of. We keep track of this information for git polling via a git ref in a job which includes a commit sha and timestamp. That job gets associated with an operati

[2021-07-14 09:39] jgwhite opened #1860 "Changes to packages in `ui/lib` aren’t picked up automatically"
**Describe the bug**

Changes to packages in `ui/lib` aren’t picked up automatically.

**Steps to Reproduce**

Given there are changes to `internal/server/server.proto`
When I run `make gen/ts` to regenerate `ui/lib/waypoint-pb` and `ui/lib/waypoint-client`
And I run `cd ui && yarn start` to boot the ui dev server

**Expected behavior**

The new changes are available immediately, thanks to symlink

[2021-07-14 16:43] evanphx commented on #1796
Should we consider #1821 an acceptable answer for this issue.

Btw @denysvitali, thanks so much for the brief tour of your workflow. We'd love to know more about the front end of that also, and how waypoint could grow (maybe to replace the Jenkins bits?).

[2021-07-14 17:17] evanphx opened #1862 "Add name_prefix workspace variable"
Waypoint plugins create resources on target systems as a matter of operation. Users want to be able to configure some prefix for the name of those generated resources.

Rather than have each plugin define a setting for this prefix, it should be at the workspace level and be honored by the plugins.

Related to:
* #1791

[2021-07-14 21:48] mitchellh commented on #1621
Done #1831 and a number of enhancements beyond that.

[2021-07-14 21:48] #1621 closed

[2021-07-14 22:00] krantzinator opened #1865 "`waypoint version` includes `context deadline exceeded` error if a server is not installed"
**Describe the bug**
[code]

**Steps to Reproduce**
Run `waypoint version` or `waypoint -v`

**Expected behavior**
For it to include no server version info if there is not an active server; possibly a note like "No Waypoint server found"

**Waypoint Platform Versions**
0.4.1

[2021-07-14 22:02] mitchellh commented on #1865
If you have no context, it shows nothing (no error, nothing). If you have a context, it assumes you mean to reach a server cause it can't tell the difference between "no server" and "down server" so I think showing the error makes sense.

[2021-07-14 22:13] krantzinator commented on #1865
Aha ignore me

[2021-07-14 22:13] #1865 closed

[2021-07-15 19:03] sabrinako commented on #1511
Linked the wrong issue with the PR above, reopening!

[2021-07-15 20:56] catsby commented on #1763
Hello! The underlying error here is caused due to invalid cpu/memory combination of values. For `512` CPU, if you want to specify the memory as well you must use one of the following memory values: 1024 (1GB), 2048 (2GB), 3072 (3GB), 4096 (4GB). See this page for some more information on the combinations:

- https://docs.aws.amazon.com/AmazonECS/latest/developerguide/task-cpu-memory-error.html

I'

[2021-07-15 21:03] krantzinator commented on #1589
Fixed by https://github.com/hashicorp/waypoint/pull/1803

[2021-07-15 21:03] #1589 closed

[2021-07-15 21:57] catsby commented on #1763
**Short story:**
Hello again! I've opened https://github.com/hashicorp/waypoint/pull/1872 which should "fix" this issue, by returning an error that users can use to diagnose the cause. Screen shot attached in #1872.

**Long story:**
Function [registerTaskDefinition][rtd] was failing for an unrecognized error, and it just looped until it ran out of attempts then moved on. The `ecs.RegisterTaskDefin

[2021-07-15 22:50] briancain opened #1875 "UI: Report when a release was not executed"
**Is your feature request related to a problem? Please describe.**

Now that Waypoint has a way to mark a release phase as unimplemented, the UI should reflect this so it's easier to tell which lifecycle phases were executed for an application. https://github.com/hashicorp/waypoint/pull/1873

**Describe the solution you'd like**

When viewing a release in the UI, mark it as skipped when a plugins

[2021-07-15 22:51] #1478 closed

[2021-07-18 07:36] davidmytton opened #1880 ""lookup waypoint.local: no such host" when deploying to Nomad"
**Describe the bug**
Following the steps in the [deploy to Nomad guide](https://learn.hashicorp.com/tutorials/waypoint/get-started-nomad), Waypoint shows the build, deploy, release as successful but it fails on Nomad with the error:

[code]

**Steps to Reproduce**
[code]

_waypoint.hcl:_
[code]

_Dockerfile_
[code]

_nomad server logs_
[code]

**Expected behavior**
Container should start on Nomad.

[2021-07-18 15:34] davidmytton opened #1881 "Docker build step does not support buildx"
**Describe the bug**
[Docker buildx](https://docs.docker.com/desktop/multi-arch/) is needed to build for multiple CPU architectures e.g. different ARM architectures. Currently, the Waypoint Docker build step plugin executes `docker build` and cannot be configured to support `docker buildx`.

This may be a feature request but could also be a bug because executing `docker install buildx` [should ali

[2021-07-19 21:00] krantzinator commented on #1795
Since the default for `imagePullPolicy` is unset, it falls back to [kubernetes defaults](https://kubernetes.io/docs/concepts/containers/images/#updating-images). In this case, a policy of `Always` since the image installed has a tag of `latest`.
[code]

Rather than automate a restart of the pod, since that won't be a required action in all upgrade paths, I'm going to add a warning message to the t

[2021-07-19 21:41] briancain commented on #1795
👍🏻 , one thing I forgot about when I wrote my comment earlier in this issue is our upgrader takes into account which upgrade strategy is configured for the statefulset that waypoint-server is deployed to. So we shouldn't auto-delete the pod if it's `RollingUpgrade`. And we already delete the pod if the strategy is `OnDelete`. I think enhancing our warning messages to make this clearer based on how

[2021-07-19 21:54] briancain commented on #1880
Hey there @davidmytton - It looks like possibly your Nomad instance doesn't have access to your local docker registry? I was able to use the [docker/static](https://github.com/hashicorp/waypoint-examples/tree/main/docker/static) example with Nomad running in dev mode with no issue, however I am on linux.

[code]

[code]

Although the Learn guide is using `pack` for its build plugin, it specifies a

[2021-07-19 22:22] briancain commented on #1881
Hey there @davidmytton - thanks for the feature request!

It's not as easy as aliasing a shell command for Waypoint, because we don't `exec` the docker CLI, but rather we use their [Go client to build images](https://pkg.go.dev/github.com/ph/moby/client#Client.ImageBuild) with our [Waypoint docker build plugin](https://github.com/hashicorp/waypoint/blob/86f5d261c3bbd221d6802c9b2d8330dcbc31078f/bui

[2021-07-20 01:42] #1795 closed

[2021-07-20 02:53] evanphx opened #1891 "Crash generated attempting to read current user"
Requests run by a runner appear to not have a user in the context, so using anything that attempts to read the user has to nil check atm, but it appears that GenerateLoginToken does not do that:

[code]

**Steps to Reproduce**
Call GenerateLoginToken from the context of QueueJob.

**Expected behavior**
The code would at least user a default user, or the QueueJob call should have included a token t

[2021-07-20 06:41] davidmytton commented on #1880
That fixed the issue - thanks! I didn't realize that the `local` option would also make the registry available to Nomad.

Perhaps the docs could be updated to explain this better? I've submitted a suggested change at https://github.com/hashicorp/waypoint/pull/1892 but feel free to reject this and put it somewhere better!

Also, on https://learn.hashicorp.com/tutorials/waypoint/get-started-nomad it

[2021-07-20 06:59] davidmytton commented on #1880
Actually, this only works partially. It works if I have Nomad running locally in dev mode, but not if it's running remotely, presumably because Nomad can't access the registry on my local system. When using your waypoint.hcl with a remote Nomad cluster I get the error:

`Failed to pull `shincha-web:latest`: API error (404): pull access denied for shincha-web, repository does not exist or may requi

[2021-07-20 09:54] jgwhite commented on #1287
#1840 is looking good so I think a fix for this will land in 0.4.x (probably 0.4.2)

[2021-07-20 14:45] Hokutosei commented on #1580
@izaaklauer @mitchellh sorry, any status on this? I also encountered this today.. any idea how to fix? thank you!

[code]

[2021-07-20 15:29] briancain commented on #1880
Glad that fixed it locally! I'll try to respond to the other questions too here 😄

Yeah, so the `local` here mostly means Waypoint won't push the built artifact to a remote container registry and is just available locally in docker. If you're running Nomad remotely in a production environment, you'll likely want to change that `local` option to `false` and also make the changes below 👇🏻

This is c

[2021-07-20 16:40] gregone opened #1897 "Browser Exec Endpoint"
In order to implement the `Exec` functionality in the browser UI, we need a couple new endpoints.
grpc-web doesn't support bidirectional streaming, making the existing  `startExecStream` endpoint unusable by the client

The endpoints should be:
- a similar, but unidirectional, ExecStream endpoint that streams the `exec` output
- an ExecInput endpoint to send user input to the server

[2021-07-20 16:41] jgwhite commented on #1858
Is this related to #1508?

[2021-07-20 18:36] briancain commented on #1858
@jgwhite Yes! I didn't realize there was an issue already for tracking this.

[2021-07-20 20:02] jgwhite commented on #1287
Closed by #1840

[2021-07-20 20:02] #1287 closed

[2021-07-20 20:18] mitchellh commented on #1580
@Hokutosei what plugins were you using? I will look at this...

[2021-07-21 00:52] Hokutosei commented on #1580
@mitchellh I am using `kubernetes`. this is how my hcl looks like..

[code]

I am trying to deploy a basic angular app, to amazon EKS. I also tried tutorials, or examples. and I was able to deploy, but not to an existing app, using our already made yaml files for kubernetes

[2021-07-21 04:33] mitchellh commented on #1580
Thanks, I'm going to look at improving the error message. I would recommend using the `kubernetes-apply` plugin but I just looked and its not currently compatible with the `kubernetes` releaser either. :(

[2021-07-21 05:27] Hokutosei commented on #1580
@mitchellh I think I have already tried `kubernetes-apply`. it did not worked, so I tried `exec`.. any other ways?

[2021-07-21 12:11] davidmytton commented on #1880
Thanks - I've switched to using a container registry for now. As Nomad doesn't seem to support pulling from private registries, it would be good to have a mechanism for the build to be uploaded to the Nomad cluster directly (and/or via a private registry).

Anyway, that solves my issue - thanks!

[2021-07-21 14:52] #1532 closed

[2021-07-21 17:04] izaaklauer opened #1909 "Tagging of waypoint platform resources based on labels."
**Is your feature request related to a problem? Please describe.**
Most platforms support the concept of labels. Kubernetes has annotations, aws has tags, etc. Waypoint currently allows you to add labels to plugin operations (https://www.waypointproject.io/docs/extending-waypoint/plugin-interfaces/default-parameters#component-labelset), but those labels aren't visible on resources that platforms c

[2021-07-21 17:09] mitchellh commented on #1909
My preference would be to not do this automatically, and just have users redefine a `tags {` or `annotations {` block and reuse the labels that are set. One of the proposals set forth by the multi-env RFC is exposing a `labels` variable that can be used in the waypoint.hcl to reference the current set of labels (for that operation). So users could easily do:

[code]

I think this works a lot bette

[2021-07-21 17:13] catsby commented on #1577
I looked into this and @izaaklauer and I discussed it some; the ECS _deployment_ optionally creates a load balancer, security group, and target group and then the ECS releaser simply sets the [weight to 100][weight]. The ALB releaser expects a target group to already exist and does the work (optional) of creating the security group, load balancer, et. al.

In order to get the ECS platform to _not_

[2021-07-21 20:05] krantzinator opened #1910 "Nomad plugin resource awareness"

[2021-07-22 19:34] jgwhite commented on #1853
Closed by #1916 (sorry @Dhaulagiri — @almonk couldn’t resist)

[2021-07-22 19:34] #1853 closed

[2021-07-23 20:40] grahamhub opened #1923 "Waypoint HCL file becomes garbled in the UI if saved on the server via UI"
**Description:**

When copy/pasting HCL configuration into the server via the UI, if you go back to edit it later it gets garbled as seen in the screenshot:

![image](https://user-images.githubusercontent.com/18193667/126837815-c4897b14-3b3a-458a-ab18-09aeeeb58fb5.png)

I assume this is because the config is compressed when stored on the instance to save space, but doesn't get decompressed when vi

[2021-07-26 12:52] izaaklauer commented on #1577
Is there a reason that the ECS deployment plugin needs to create the load balancer? If the deployment doesn't need the ALB, then it seems like it should be the the releaser's job to create it.

[2021-07-26 13:51] jgwhite commented on #1923
Hi Graham 👋

Many thanks for reporting this issue, great catch!

If you’d like to submit a PR, that would be fantastic. We’re here to help, every step of the way.

This appears to be an issue in the `ui` bit of the codebase.

Some notes:

1. The `waypoint_hcl` field [is declared as `bytes`](https://github.com/hashicorp/waypoint/blob/4e57bd155e5483c40d888b35753455acc921178b/internal/server/proto/se

[2021-07-26 18:42] #1796 closed

[2021-07-26 20:17] catsby opened #1933 "Update K8s releaser to use Resource Manager"
Update the [Kubernetes default releaser][k8srel] to use the Resource Manager. This is analogous to https://github.com/hashicorp/waypoint/pull/1648

[k8srel]: https://github.com/hashicorp/waypoint/blob/021f63b1d07f41ccfac74486808a5198ce3dc851/builtin/k8s/releaser.go

[2021-07-26 20:33] izaaklauer commented on #1056
I can replicate this with the [reactjs waypoint-example](https://github.com/hashicorp/waypoint-examples/tree/main/docker/reactjs) by enabling buildkit on the docker build.

[2021-07-26 20:56] karl-cardenas-coding opened #1934 "waypoint destroy not cleaning up in remote mode"
**Describe the bug**
A clear and concise description of what the bug is.

When using Waypoint remote runners, I have observed the behavior of resources not being clean up after issuing the command `waypoint destroy -auto-approve`. The Waypoint project remains in the server (visible in the UI), and the Docker application is not destroyed.

**Steps to Reproduce**
Steps to reproduce the behavior.

De

[2021-07-26 22:42] grahamhub commented on #1923
@jgwhite thanks for the detailed breakdown! I should have some spare time this week / weekend to take a look at it

[2021-07-28 00:07] briancain opened #1939 "core: Initializing a project with an existing name overwrites the existing project"
**Describe the bug**

If you have an existing project in Waypoint, and attempt to `waypoint init` a new project on the CLI with the same name as an existing one (but it's different or separate), Waypoint will overwrite the existing project with the new one that was initialized.

**Steps to Reproduce**

`waypoint init` and `waypoint up` a project.

In a separate project folder that has the same pro

[2021-07-28 14:15] jgwhite commented on #1622
I’ve pushed this to `0.5.x` because there’s no feature in `0.5.0` that depends upon it, and we’re still hashing out the details so it’s unlikely to be implemented in time for `0.5.0`.

We have an internal RFC for this now. Further conversation is happening there until we start implementing.

[2021-07-28 14:30] jgwhite commented on #1923
It looks like `privateKeyPem` is also a `bytes` field and also suffers this same bug. You may want to tackle that using the same approach.

Again, we’re here to support you. Let us know how you get on.

[2021-07-28 14:46] jgwhite opened #1940 "Add support for project data sources to Mirage"
**Is your feature request related to a problem? Please describe.**
We currently have some TODOs regarding project data sources in our Mirage setup:

https://github.com/hashicorp/waypoint/blob/93923d6b00516c758e1b5c09f5cd9cb67cf7ec7f/ui/mirage/models/project.ts#L7-L14

While investigating #1923 recently, I found the lack of support for data sources in Mirage pretty limiting, both for writing regres

[2021-07-28 15:29] catsby commented on #1933
Implemented in https://github.com/hashicorp/waypoint/pull/1938

[2021-07-28 15:29] #1933 closed

[2021-07-28 17:35] bnrosa opened #1942 "GCR Deployment just fails without any info why"
I'm trying to deploy my project to GCR using the [tutorial](https://learn.hashicorp.com/tutorials/waypoint/google-cloud-run?in=waypoint/deploy-google-cloud#overview) but it simply fails on the deployment step without comprehensible errors, is there a way I can debug it further? The logs aren't of any help either. Also, I'm have enabled my GC account, the API as well, made it billable, so it should

[2021-07-28 17:51] #1612 closed

[2021-07-28 18:13] briancain opened #1943 "core/server: Add a service func to support one-off status report requests"
**Is your feature request related to a problem? Please describe.**

Users want to know the status of their deployment or release on demand in the UI. The work detailed in issue https://github.com/hashicorp/waypoint/issues/1511 and pull request https://github.com/hashicorp/waypoint/pull/1911 by @sabrinako will add a new button that gives users on-demand requests to refresh the latest report.

**Des

[2021-07-28 18:49] #1942 closed

[2021-07-28 19:00] krantzinator commented on #1942
@bnrosa Are you able to share what the solution was? If it's something that would help our tutorial our we can add it!

[2021-07-28 19:03] krantzinator commented on #1942
Or our error messaging :)

[2021-07-28 19:15] krantzinator opened #1945 "Update GCR plugin to use Resource Manager"

[2021-07-28 19:58] bnrosa commented on #1942
Well, first there's some inconsistency between the tutorial and docs, if you look into the [docs](https://www.waypointproject.io/plugins/google-cloud-run) it says that the **vpc_access** parameter is required, but it doesn't appears in the tutorial setup.
I'm still trying to fix it, but I can identify what the issue is, so the problem is simply the status of the GCR service, it is not ready. The i

[2021-07-28 20:01] bnrosa commented on #1942
Also, this error gaves the same message:
![image](https://user-images.githubusercontent.com/14277020/127387834-53aa15cc-2b0a-4163-a98b-a7545954a5a1.png)
Maybe the message should indicate that you must check your GCR console or something..

[2021-07-28 20:11] krantzinator commented on #1942
Thanks! I just got the same error message as you did the first time. So I'm joining this troubleshooting party 🥳

[2021-07-28 20:17] bnrosa commented on #1942
solved it by creating the connector at https://console.cloud.google.com/networking/connectors

[2021-07-28 20:17] krantzinator commented on #1942
Hm it looks like the `vpc_access` param is actually optional, so hopefully that is not the problem here. We just don't set it if it's not specified in the config: https://github.com/hashicorp/waypoint/blob/81cbf8c38b82e5518bb8cf52044085fd30225425/builtin/google/cloudrun/platform.go#L370

[2021-07-28 20:20] krantzinator commented on #1942
Great! Seems like we need to update the tutorial then to match GCR specs: https://cloud.google.com/run/docs/reference/rest/v1/RevisionTemplate

[2021-07-29 05:21] grahamhub commented on #1923
Thanks Jamie!

Took a deeper look into all those pieces you mentioned, and I'm still a bit fuzzy on the flow of saving the file since I've not used Handlebars very much.

From what I understand, this `on "input"` expression sets the [attribute `waypointHcl` defined on the class](https://github.com/hashicorp/waypoint/blob/4e57bd155e5483c40d888b35753455acc921178b/ui/app/components/app-form/project-r

[2021-07-29 09:30] jgwhite commented on #1923
That is exactly right 👍

Also exactly correct. The `waypoint.hcl` can live either in the project’s source repo, or remotely in the database (stored on disk as `data.db`, as you say).

Yep, that’s seems like a workable approach. We definitely need to `atob` somewhere along the line and in the constructor should do the trick.

Another alternative is to use a computed property:

[code]

Or you could

[2021-07-29 14:30] #1910 closed

[2021-07-29 15:58] grahamhub commented on #1923
Thank you for the wonderful guidance, Jamie! I have a much clearer path forward now, should have something soon :)

[2021-07-29 21:15] catsby opened #1965 "Better error message when making project with no auth"
When managing settings of an app, the placeholder text for the git url suggests `git@...`. Using a `git@` url and then specifying `No Authentication` results in an error:

![ui-no-auth-err](https://user-images.githubusercontent.com/61721/127567015-736eaf3f-06f9-4371-bb38-3d8e0ecd7f87.png)

It seems if the user is not using authentication, we require `https://`. We should update the error message t

[2021-07-30 06:42] grahamhub commented on #1707
Hey, I'd be happy to take a stab at implementing this!

As far as accidental pruning goes, I've got two thoughts on how to approach ensuring valid contexts don't get pruned.

The first is just a simple confirmation after gathering all the contexts which couldn't be verified - and if a user sees a context they want to keep perhaps ask them to make sure it's running and reachable before re-running t

[2021-07-31 18:32] pilayar76 commented on #624
@SubatomicHero  - Did you manage to solve this one please? I am facing the same issue despite having all the permissions.

[2021-08-02 13:17] radriaanse opened #1969 "Support Docker build target stage"
**Is your feature request related to a problem? Please describe.**
When using Docker multi-stage builds it's possible to specify the stage you want to build by providing the `--target` flag on the Docker CLI.

https://docs.docker.com/develop/develop-images/multistage-build/#stop-at-a-specific-build-stage

**Describe the solution you'd like**
It would be nice to be able to provide this option in th

[2021-08-02 16:59] Vlaaaaaaad commented on #1527
As an extra data point, Jenkins also released [an OpenTeletry plugin](https://plugins.jenkins.io/opentelemetry/) that looks great!

[2021-08-02 20:14] mitchellh commented on #1939
This is tricky and is currently "working as intended", though that doesn't mean that this issue is invalid.

We don't keep track of any "project ID" anywhere, the project name _is_ the ID. So when you run `waypoint init` (which is meant to be safe to run multiple times), we just _merge and overwrite_ project information. We don't delete any apps. We can't know if you are the same project updating,

[2021-08-02 20:15] mitchellh commented on #1934
We should be removing the container, but we don't currently support project delete and there is a separate issue tracking that. To make this more focused, I'm going to rename/relabel this to focus on Docker.

[2021-08-02 20:16] mitchellh commented on #1891
This is fixed, this was an issue in Evan's branch.

[2021-08-02 20:16] #1891 closed

[2021-08-02 20:21] karl-cardenas-coding commented on #1934
@mitchellh Sounds good, I wasn't sure if I was doing something crazy.  I appreciate you taking a peek at this.

[2021-08-02 20:39] briancain opened #1972 "CLI: Include a way to list applications for a project"
**Is your feature request related to a problem? Please describe.**

The waypoint CLI allows users to list all known projects with `waypoint project list`. However, there's no way to list the applications defined in that application.

**Describe the solution you'd like**

Enhance the `waypoint project` CLI to include a way to list its applications. Maybe as an additional subarg like

[code]

**Desc

[2021-08-03 11:02] psihachina opened #1974 "waypoint uninstall in ECS leaves tags of deleted resources"
**Describe the bug**
Repeatedly installing/uninstalling a waypoint server accumulates resources in ECS that were deleted, but are listed in the search by tag and are only visible in the [AWS CLI](https://gist.github.com/psihachina/13262db33102e29d321c979c9812822d). This results in an error on the following waypoint server uninstallation. Deleted resources are ELB listeners and EFS Access points. T

[2021-08-03 15:59] catsby commented on #1974
Hey @psihachina thank you for reporting this!

I'm not sure what you mean by this, can you elaborate? I looked through the code and while those are tagged they, the deletion code looks for `"AWS::ElasticLoadBalancingV2::LoadBalancer"` to then query what listeners to delete. Same for EFS Access Points, we look through the tag query results and look for `"AWS::EFS::FileSystem"` to then delete it's m

[2021-08-03 16:08] psihachina commented on #1974
@catsby

Here I just meant what resources are found when searching by tag in the AWS CLI.
At first, they do not interfere, and at that time the installation/removal is successful. But then, over time, the waypoint-server tag gets overwhelmed by these resources and the waypoint starts to fail when deleted, because it cannot find the resources it needs.

[2021-08-03 16:16] catsby commented on #1974
That's interesting... I haven't yet reproduced that but I'll try using a different region. Either way we can probably just remove tags from those resources since the tag for them isn't directly used in cleanup, and they belong to a parent object that is tagged. I'll let you know what I come up with!

[2021-08-03 17:01] #1720 closed

[2021-08-03 18:51] #1923 closed

[2021-08-03 21:42] krantzinator opened #1976 "docs generation leaves off anything after `[options]` for website docs"
**Describe the bug**
The docs on our website for the following commands have a command like `command [options] NAME`, where the `NAME` text shows up in the CLI help text, but not the website documentation:
- `waypoint auth-method set oidc`
- `waypoint context create`
- `waypoint context delete`
- `waypoint context use`
- `waypoint project apply`

**Steps to Reproduce**
Go to https://waypointprojec

[2021-08-03 23:25] #1943 closed

[2021-08-04 10:17] radriaanse opened #1979 "Nomad jobspec input variables"
**Is your feature request related to a problem? Please describe.**
Nomad has support for [input variables](https://www.nomadproject.io/docs/job-specification/hcl2/variables) in it's HCL templates, it's possible to provide values for these by using the CLI in various ways.

Seeing https://github.com/hashicorp/nomad/issues/9953, it seems like this functionality is only provided client side thus Wayp

[2021-08-04 13:20] #1056 closed

[2021-08-04 15:48] krantzinator commented on #1979
It sounds like you want to use a couple of different strategies here!
For input variables like you see in other HashiCorp products like Nomad etc, we are adding support for that in our upcoming 0.5.0 release. See #1228
For referencing dynamic values such as `artifact.image`, Waypoint currently supports this along with a few other predefined variables. See [our documentation here](https://www.waypo

[2021-08-04 16:25] radriaanse commented on #1979
The input variables are certainly a very nice addition and I'll be using them!
But I see this mostly in compliment to what I'm describing in this issue, because if you want to use Nomad variables there should be a way to provide these to the jobspec; which currently seems impossible to do so (also because of that Nomad issue I've mentioned).

Maybe my point became a bit unclear because I used one

[2021-08-04 16:34] radriaanse commented on #1979
To add to my previous post, since Nomad's input variables are client-side only and the Nomad plugin uses the API for submitting the jobs I'm not sure there are any good ways to even implement this.

I'll be happy to give this a shot should the general idea be welcome, but then I'll be better of starting with asking this over at Nomad? Or should it be possible to pull in the Nomad client as a depen

[2021-08-04 17:01] krantzinator commented on #1979
Ah! Yes this makes sense!
If you want to take a swing at it, that would be great! Your second proposed implementation (under `# individually`) is where we'd want to start for sure. I recommend not working on the `# file` example implementation right now.

[2021-08-04 17:03] briancain commented on #1675
Hey there @ragesoss - thanks for opening an issue with Waypoint! It looks like the error you mentioned is now fixed in a recent release of Waypoint. We had another request for supporting input variables with Nomad here: https://github.com/hashicorp/waypoint/issues/1979. Since the error is fixed, I'm going to go ahead and close this issue. It looks like the solution proposed on that issue should ac

[2021-08-04 17:03] #1675 closed

[2021-08-04 17:27] briancain commented on #1577
Just writing a note here that fixing this could be potentially backwards incompatible when users upgrade to the version that has this fix. I removed the `0.5.x` milestone and placed it in the Next Major project board for this reason.

[2021-08-04 17:31] briancain opened #1981 "Cannot destroy non-latest deployments in ECS"
**Describe the bug**

If a user wishes to prune a previous deployment, the ECS plugin returns an error saying that the deployment is still in use. This was reported in a discuss post here: https://discuss.hashicorp.com/t/removing-a-previous-deployment/27756/2

[code]

Footnote: This bug could be in other plugins that create resources relevant to other lifecycle operations.

**Steps to Reproduce**

[2021-08-04 19:22] radriaanse commented on #1979
Thanks, that seems straight forward enough indeed.
I'll take some time this week to draft a MR!

[2021-08-04 19:59] catsby commented on #1974
I opened https://github.com/hashicorp/waypoint/pull/1984 to better handle uninstalling the server from ECS. I'm unable to reproduce the issue described where tags show up in the CLI output but are not accessible from the AWS console. Are they visible in the AWS Resource Manager console?

[2021-08-04 20:05] psihachina commented on #1974
They ( LB listener, EFS Access point) are not visible in the AWS Resource Manager console. This is how the output in the AWS CLI looks [like for me](https://gist.github.com/psihachina/13262db33102e29d321c979c9812822d). This is after about 10 installations/uninstallations.

[2021-08-04 20:10] psihachina commented on #1974
@catsby  I looked at your PR and the use pagination function solution looks cool and should help with this problem. I was just trying to find the lost resources in this way.

[2021-08-04 20:22] krantzinator opened #1985 "google/cloudrun: CloudRun plugin doesn't destroy active revisions or services"
**Describe the bug**
The Google CloudRun plugin only ever destroys inactive revisions created underneath a service. This means Waypoint doesn't clean up everything it creates when `waypoint destroy` is run, because active revisions and the parent service are not destroyed.

**Steps to Reproduce**
Run `waypoint up` a couple of times using [the Learn guide for the GCP plugin](https://learn.hashicorp

[2021-08-04 20:40] #1843 closed

[2021-08-04 21:01] catsby commented on #1974
@psihachina and those efs file systems that own the access points, do they show up in the EFS Console? What API endpoint/CLI command(s) are you using? I'm using https://docs.aws.amazon.com/ARG/latest/APIReference/API_SearchResources.html like so:

[code]

Where the `server-query.json` file looks like so:

[code]

[2021-08-05 00:12] pilayar76 opened #1988 "Gitlab CI/CD Integration fails with Remote Runner"
**Describe the bug**
While integrating Waypoint in Gitlab CI/CD to deploy cloud run service, getting below error

[code]

**Steps to Reproduce**
Integrate the Waypoint with Gitlab CI/CD

Waypoint.hcl

[code]

**Expected behavior**
waypoint deploy should run successfully.

**Waypoint Platform Versions**
Additional version and platform information to help triage the issue if
applicable:

* Waypoint

[2021-08-05 00:24] pilayar76 commented on #1988
<img width="157" alt="image" src="https://user-images.githubusercontent.com/32598510/128272276-a6ca4fae-11a2-4ff3-a6b0-5da3e0579339.png">

Service Account which I am using  has almost all the permissions

[2021-08-05 08:44] psihachina commented on #1974
@catsby

Yes, show up.

[code]

[2021-08-05 15:19] radriaanse commented on #1979
Hi @krantzinator, I'm walking into some issues with importing the jobspec2 package into Waypoint, took a bit to figure out but seemingly has to do with the hcl/v2 module.

Nomad is pinning a [specific release](https://pkg.go.dev/github.com/hashicorp/hcl/v2@v2.9.2-0.20210407182552-eb14f8319bdc), this release contained an `EvalContext` field `UndefinedVariable` which seems to be gone in later releas

[2021-08-05 16:16] radriaanse commented on #1969
Hey @briancain , I've submitted a PR that should implement this; tested it locally and everything seems to work fine!

Had a bit of a fight with GitHub though, sorry for the mess 😆

[2021-08-05 16:42] #1974 closed

[2021-08-05 17:04] catsby commented on #1974
I've merged #1993 which should resolve this issue.

For the EFS resources that still show in the console, I imagine those unfortunately got orphaned when errors were encountered when destroying the ECS and CloudWatch resources (as your log showed). The server context was likely lost so `waypoint server uninstall` couldn't retry and those resources were orphaned. With #1993 the chances of that happ

[2021-08-05 17:53] krantzinator commented on #1985
This actually duplicates an earlier issue https://github.com/hashicorp/waypoint/issues/814

[2021-08-05 18:05] krantzinator commented on #1979
I know that feeling 😅 I can take a look at this either later today or tomorrow and see if I can scrape up any more potential avenues here!

[2021-08-06 17:28] #1881 closed

[2021-08-06 19:17] krantzinator opened #2002 "Deployment disappears from list even if a `destroy` call fails"
**Describe the bug**
If you run `waypoint deployment destroy` and the destroy fails, it still removes the deployment from Waypoint's list of deployments, therefore leaving whatever resources were attached to the deployment stuck.

**Steps to Reproduce**
Due to a bug with the GCP plugin in destroying deployments, you can test using that one currently.

* Spin up a GCP Waypoint setup (can use [our L

[2021-08-06 19:18] briancain opened #2003 "ui: Show the right token cli command on the authentication page"
**Describe the bug**

As of 0.5.0, the `waypoint token new` command  is deprecated in favor of the `waypoint user` commands.

**Steps to Reproduce**

Navigate to the Waypoint UI without being logged in.

**Expected behavior**

The authentication page should show the new command to run, i.e. `waypoint user token`

**Waypoint Platform Versions**
Additional version and platform information to help tr

[2021-08-06 19:22] briancain commented on #2003
For reference, this is what the CLI shows if you run the old command:

[code]

[2021-08-06 20:10] krantzinator opened #2004 "plugin/google: auto-create a default VPC connector if one isn't specified"
**Is your feature request related to a problem? Please describe.**
Right now, we require users to specify a [VPC connector](https://www.waypointproject.io/plugins/google-cloud-run#vpc_access). This is a mildly annoying extra step when running an example GCP deployment.

**Describe the solution you'd like**
If a user doesn't specify VPC access settings, we should configure one with default settings

[2021-08-06 21:40] catsby commented on #1934
Hello there - are you able to capture any logs from the runner that give any indication as to where or why it's failing to remove the containers?

[2021-08-06 22:06] karl-cardenas-coding commented on #1934
@catsby I can try. Any commands or ENV variables you want me to enable?

[2021-08-06 23:10] karl-cardenas-coding commented on #1934
@catsby I upload the trace output.
[debug.txt](https://github.com/hashicorp/waypoint/files/6948228/debug.txt)

[2021-08-09 15:50] catsby commented on #1934
@karl-cardenas-coding I'll try and take a look soon

[2021-08-09 16:01] vladfr commented on #669
Adding `-server-tls-skip-verify` did it for me.

[2021-08-09 17:18] #2003 closed

[2021-08-09 17:32] #1945 closed

[2021-08-09 17:32] #1985 closed

[2021-08-09 17:56] #1501 closed

[2021-08-10 16:06] izaaklauer opened #2014 "Task: update k8s plugin to use new resource manager status funcs and report more resources"

[2021-08-10 17:17] krantzinator commented on #1979
Ah, update here! I shared this with the Nomad team and we're thinking about it. Thanks for sharing all you found out and tried. No answers right now, but this is an interesting one.

[2021-08-10 17:31] krantzinator opened #2017 "TestApplicationPollHandler_turnoff: flaky test"
**Describe the bug**
This test regularly flakes: [TestApplicationPollHandler_turnoff](https://app.circleci.com/pipelines/github/hashicorp/waypoint/8606/workflows/1ff9ce0f-3533-418b-961b-f49fe9500bc4/jobs/72534).
The success rate is currently [90% on the `main` branch](https://app.circleci.com/insights/github/hashicorp/waypoint/workflows/go-tests/tests?branch=main), which means it's failing 10% of

[2021-08-10 18:22] #1965 closed

[2021-08-10 23:35] #2017 closed

[2021-08-11 15:25] briancain commented on #1969
@radriaanse - no worries! GitHub does that some times 😆 thanks for taking the time to contribute!

[2021-08-11 17:06] izaaklauer commented on #1079
We don't believe that the effort of renaming this is worth breaking backward compat by changing the name for existing plugins. We will update the docs to clarify this.

[2021-08-11 17:08] izaaklauer opened #2027 "Clarify the difference between `exec` plugin and `exec` command"
Will address https://github.com/hashicorp/waypoint/issues/1079

[2021-08-11 17:33] izaaklauer commented on #1988
Hi @pilayar76,

Have you attached the service account to your waypoint runner? It looks like the problem here is that gitlab is triggering a deployment, which is executed by the waypoint remote runner, which in turn doesn't have the credentials necessary to deploy to google cloud.

To get a remote runner with credentials to access google cloud, you will likely need to run your own runner, in an en

[2021-08-11 17:46] #1508 closed

[2021-08-11 17:59] pilayar76 commented on #1988
Hi @izaaklauer  - Thanks for the reply.

this is my gitlab script and I thing I am using local runner not the remote one.

`
waypoint:
  # GitLab created images, which basically rewraps HashiCorp's officially released binaries and may not match HashiCorp's checksums, See https://gitlab.com/gitlab-org/waypoint-images for more details about what goes into the images.
  image: docker:latest
  stage:

[2021-08-11 19:02] izaaklauer commented on #1988
Ah, gotcha. It looks like the `waypoint deploy` process isn't seeing your google credentials. Running `google auth configure-docker` won't work for you here, because you're not running waypoint inside docker - you're running it directly. I think setting a `GOOGLE_APPLICATION_CREDENTIAL=/path/to/your/gcloud-service-key.json` env var might do the trick for you.

[2021-08-11 19:37] briancain opened #2030 "tests: `internal/ceb` Test Failures"
Occasionally, these tests fail in circle-ci:

- TestRun_reconnect
- TestLogs_reconnect
- TestServer

[code]

[code]
[Latest Circle-CI failure at this moment](https://app.circleci.com/pipelines/github/hashicorp/waypoint/8657/workflows/915a379c-611d-4dc5-8338-2977d7544105/jobs/73320)

[2021-08-11 20:29] briancain commented on #2030
Fixed via https://github.com/hashicorp/waypoint/pull/2032

[2021-08-11 20:29] #2030 closed

[2021-08-11 21:44] izaaklauer commented on #2014
Closed by https://github.com/hashicorp/waypoint/pull/2024

[2021-08-11 21:44] #2014 closed

[2021-08-11 22:24] izaaklauer commented on #1605
It's complete!

[2021-08-11 22:24] #1605 closed

[2021-08-11 22:24] briancain commented on #1614
I'm closing this. As mentioned in the linked PR, there isn't a clear use-case for this yet. Given we implemented application status polling already, I think we're safe to close this one out.

[2021-08-11 22:24] #1614 closed

[2021-08-11 22:28] briancain commented on #1536
Potentially fixed by https://github.com/hashicorp/waypoint/pull/1480

[2021-08-11 22:29] briancain commented on #1469
Potentially fixed by https://github.com/hashicorp/waypoint/pull/1480, I think.

[2021-08-11 22:47] pilayar76 commented on #1988
@izaaklauer  - That was a life saver. Thanks alot. It works perfectly now. I am happy to close this issue.

[2021-08-11 22:47] #1988 closed

[2021-08-12 14:34] izaaklauer opened #2037 "Cannot disable project data source polling with CLI"
**Describe the bug**
If polling is enabled for a project, it isn't possible to disable it with the CLI

**Steps to Reproduce**
- Clone https://github.com/hashicorp/waypoint-examples/tree/main/docker/ruby

- Run `waypoint init`

- Observe that datasource polling is disabled:

[code]

- Enable datasource polling with `waypoint project apply -poll -data-source=git -git-url=https://github.com/hashicor

[2021-08-12 21:32] sabrinako opened #2040 "Saving input variables erases project settings + vice versa"
**Describe the bug**
When editing a project's git settings when there are also input variables, upon saving the input variables will be deleted. Same goes the opposite way (saving input variables erases git settings)

**Steps to Reproduce**
1. Create new project and put any git settings.
2. Manage settings -> see that the git settings are there -> input variables
3. Create some input variables
4.

[2021-08-13 15:58] marcotuna opened #2045 "Waypoint install on ECS reporting InvalidParameterException"
**Describe the bug**
When attempting to upgrade an existing Waypoint Server running on ECS using the install command it fails unexpectedly with the following error:
[code]

**Steps to Reproduce**
Running the waypoint install command above

[code]

**Expected behavior**
Waypoint would successfully upgrade

**Waypoint Platform Versions**
Additional version and platform information to help triage the

[2021-08-13 21:26] izaaklauer opened #2046 "`waypoint server uninstall` can delete the wrong context"
**Describe the bug**
Running `waypoint server uninstall` deletes the current context, even if that context does not use the platform you're uninstalling.

**Steps to Reproduce**
- Install waypoint with `waypoint install -platform=docker -accept-tos`
- Run a waypoint server manually, generating a bootstrap context
- Run `waypoint server uninstall -platform=docker -auto-approve`
- Notice your waypoi

[2021-08-13 22:31] briancain commented on #2046
I see what's going on here....we're assuming the `-platform` flag is correct. One thing we could do is validate the context loaded matches the platform requested.

[2021-08-16 08:15] marcotuna commented on #2045
Using `waypoint server upgrade` keeps on looping the requests.

[code]

Log excerpt attached:

[aws_ecs_waypoint_upgrade_verbose.txt](https://github.com/hashicorp/waypoint/files/6990753/aws_ecs_waypoint_upgrade_verbose.txt)

[2021-08-16 19:19] briancain commented on #1976
This was fixed via https://github.com/hashicorp/waypoint/pull/2010!

[2021-08-16 19:19] #1976 closed

[2021-08-16 20:35] briancain commented on #1479
We have an `Unimplemented` field now. So I think when ever this work starts, we can just omit any unimplemented releases since they didn't actually occur.

[2021-08-16 20:42] briancain commented on #1479
In terms of what we show, I think it should be similar to a `waypoint deployments list`. Something like:

- Id (the release sequence id)
- Deployment id (the sequence id)
- Platform
- Application
- Workspace
- Preload details (if any)
- Started
- Completed
- Health
- Url (omit if no release URL)

[2021-08-17 14:22] izaaklauer opened #2058 "Internal telemetry"
Waypoint should be able to collect and emit key metrics, similar to [Vault](https://www.vaultproject.io/docs/internals/telemetry) and [Consul](https://www.consul.io/docs/agent/telemetry).

### Tasks:
- [ ] Research consul and vault implementation (and ensure compatibility with HCP)
- [ ] Implement core support for metrics
- [ ] Research and emit key metrics, including the following regions:
    -

[2021-08-17 14:24] izaaklauer opened #2059 "plugin/k8s: Support sidecar containers"
Waypoint should allow Kubernetes users to configure and run sidecar containers.

[2021-08-17 14:28] izaaklauer opened #2060 "plugin/k8s: include sequence number in resource names"
Currently, it is difficult to look at a kubernetes pod or deployment and understand which waypoint deployment it corresponds to. We encode the internal operation ULID on the deployment, but we don't expose that it users anywhere else.

We should use the waypoint deployment sequence number instead of (or in addition to if necessary), the internal operation ULID as part of the deployment name.

[2021-08-17 14:31] izaaklauer opened #2061 "plugin/ecs: Update to use resource manager and status functions"
Once this is complete, status poll operations will work on ECS deployments and releases, and ECS will report the resources that it creates in the `waypoint status -app=<app>` view.

[2021-08-17 17:13] #2046 closed

[2021-08-17 18:16] #2040 closed

[2021-08-17 22:14] jbayer opened #2066 "Lambda DuplicateListener error when releasing a 2nd time"
**Describe the bug**
A second release of a Lambda application with a load balancer seems to result in consistent errors about a DuplicateListener and a missing ARN.

**Steps to Reproduce**
Use the standard [Deploy an Application onto AWS Lambda](https://learn.hashicorp.com/tutorials/waypoint/aws-lambda) Learn Guide. The first `waypoint up` works for me. I made a very small edit to `handler.rb` and

[2021-08-17 23:54] mitchellh commented on #1909
PR here: https://github.com/hashicorp/waypoint/pull/2065

[2021-08-18 15:41] briancain opened #2069 "Wrong status shown in tooltip for deployment on Nomad"
**Describe the bug**

https://user-images.githubusercontent.com/810277/129928459-0bce8c8c-6f06-4989-b964-6d1d9412fddd.mp4

Nomad shows a status Unknown in the tooltip despite knowing the health.

**Steps to Reproduce**

Do a deployment with nomad and check the UI.

**Expected behavior**

It should show the health. If I remember right, the UI might be showing the health message directly from the st

[2021-08-18 15:46] briancain opened #2070 "Better status message for a release status report"
**Describe the bug**

The status report message for k8s on a release is just `exists`. We can make this better and more informative.

https://user-images.githubusercontent.com/810277/129929314-5982f0ac-40da-4ef6-8d28-c2e4c11a1958.mp4

**Steps to Reproduce**

Do a deployment and release with k8s, check out the health message reported by the k8s platform in the tooltip on the UI.

**Expected behavio

[2021-08-18 15:51] briancain opened #2071 "ui: Terminal output should match CLI for consistency"
**Is your feature request related to a problem? Please describe.**

When viewing a deployment or release in the UI, we omit all of the output that happened. As a user mainly in the CLI, I'd like to see matching output to have some assurance the right thing happened when a deployment or release happened. This includes output like status checks for the deployments and its resources. Otherwise I'm no

[2021-08-18 18:01] sabrinako opened #2074 "ui: Improve the server-located HCL file text input field"
**Is your feature request related to a problem? Please describe.**
The current field for a user's HCL file in the git settings is a simple text input field, so some nice features like using the tab button and syntax highlighting are not available. This makes the experience frustrating and even potentially hazardous, leading to unexpected behavior in a user's pipeline.

**Describe the solution you'

[2021-08-18 19:06] #1981 closed

[2021-08-18 19:50] izaaklauer opened #2075 "Include UI output in runner logs at DEBUG level or higher"
**Is your feature request related to a problem? Please describe.**
Currently, UI logs (i.e. calls to stepGroup.Status) do not appear in runner logs. As usage of remote and on-demand runners becomes more common in waypoint, it will be difficult to determine what runners are doing from their logs alone if the logs do not include this UI output.

To work around this right now, we _occasionally_ emit

[2021-08-19 11:46] gregone commented on #1858
Closed with #2025

[2021-08-19 11:46] #1858 closed

[2021-08-19 11:46] gregone commented on #2071
@briancain this is related to one of the issues I opened while researching the Log/Exec improvements: https://github.com/hashicorp/waypoint/issues/1736

[2021-08-19 15:17] briancain commented on #2071
Ahh, makes sense! I can close this as a duplicate of that one then.

[2021-08-19 15:17] #2071 closed

[2021-08-19 22:17] izaaklauer commented on #1577
There is a reason the ECS plugin needs to create the load balancer. As it turns out, ECS refuses to attach a target group to a service if the target group isn't behind a load balancer. It fails with this error:
[code]

It also isn't possible for the ALB plugin to create the target group, as you can't modify target groups on an ECS service once it's been created: https://github.com/aws/containers-r

[2021-08-19 22:17] #1577 closed

[2021-08-23 13:42] izaaklauer opened #2089 "Deployments in an unsuccessful state cannot be deleted"
**Describe the bug**
Attempting to destroy an unsuccessful deployment gives a `» 1 deployments will be destroyed.` message, but then silently refuses to destroy the deployment.

**Steps to Reproduce**
- Create a failed deployment. This can be done by attempting to perform an ECS deployment locally with incorrect credentials set.
- Attempt to destroy the deployment by sequence number (i.e. `waypoin

[2021-08-23 14:07] krantzinator commented on #2089
This is something the work of adding the Resource Manager was meant to address. The original issue was #533, but that admittedly does not have much discussion on it.

[2021-08-23 14:45] jgwhite commented on #2069
That is correct.

That pertinent UI lines are:

https://github.com/hashicorp/waypoint/blob/0d8a7babb51b4f70010f8cdc5eb7223ad5df9983/ui/app/components/status-report-indicator.hbs#L4

and:

https://github.com/hashicorp/waypoint/blob/0d8a7babb51b4f70010f8cdc5eb7223ad5df9983/ui/app/components/status-report-indicator.hbs#L39

Flattened out:

[code]

[2021-08-23 14:52] izaaklauer commented on #2089
I think that resource manager solves the core part of this problem by automatically destroying a deployment’s resources immediately when a deployment fails. You’ll still see the “error” state deployment in the list though.

Now that resource manager is ensuring that we don’t have dangling resources for deployments, “deleting” error state deploys might be as easy as just removing the record from ou

[2021-08-23 16:04] jgwhite commented on #1622
@briancain & @izaaklauer
Shall we say that #1994 closes this?

[2021-08-23 16:07] jgwhite commented on #2069
I’m probably misreading this, but it looks like we stamp over the top of `HealthMessage` on line 355 here:

https://github.com/hashicorp/waypoint/blob/a80281204903a02ce156729b6d1a94155782b94a/builtin/nomad/platform.go#L338-L355

[2021-08-23 16:07] briancain commented on #1622
@jgwhite Yep. I'll go ahead and close this. We should open a new issue for tracking the pagination feature once we're sure what it's going to be like.

[2021-08-23 16:07] #1622 closed

[2021-08-23 16:09] briancain commented on #2069
@jgwhite - Nope I think you're reading that right 😄 We shouldn't set the health message to the job description, those are unrelated. Looks like that's the source of the issue. If you wanted to give it a go and fix it on the go side feel free!

[2021-08-23 19:08] mitchellh commented on #1909
Merged

[2021-08-23 19:08] #1909 closed

[2021-08-23 19:36] jgwhite commented on #2069
I was hoping you’d say that ☺️ Gonna have a go tonight.

[2021-08-23 19:51] ragesoss commented on #1675
@briancain thanks! I'm getting a better error message now, but I'm still stuck with moving from `exec` to `nomad-jobspec`.

Now it says:
[code]

I couldn't find any details or examples on how to access `node` attributes from within the jobspec template when using the `nomad-jobspec` plugin.

[2021-08-23 20:02] izaaklauer opened #2090 "Specifying ECS sidecar containers without health checks causes a panic"
**Describe the bug**

Specifying an ECS sidecar container without configuring a HealthCheck causes a panic.

**Steps to Reproduce**

Add a sidecar block to an ECS deployment, something like this:
[code]

Run a `waypoint deploy -v`, and observe the panic

**Expected behavior**
It should not panicl. Also, healthchecks should not required for sidecar containers.

**Waypoint Platform Versions**
Additi

[2021-08-23 20:57] #1479 closed

[2021-08-24 11:39] tribuste opened #2095 "Example deployment to CloudRun unsuccessful"
**Describe the bug**
I followed step by step example in how-to[ guide](https://learn.hashicorp.com/tutorials/waypoint/google-cloud-run?in=waypoint/deploy-google-cloud) everything is setup but deploys always failed on
`Deploying...
! 2 errors occurred:
        * Cloud Run service failed to get ready
        * Error during rollback: 1 error occurred:
        * argument cannot be satisfied: type: boo

[2021-08-24 11:56] #2095 closed

[2021-08-24 14:31] izaaklauer opened #2097 "`waypoint status` displays status of destroyed deployments"
**Describe the bug**
If you destroy all deployments, `waypoint status` will continue to display the status of the most recent deployment. It will also continue scheduling status poll jobs against the most recent deployment

**Steps to Reproduce**

- Run `waypoint up` with a plugin that supports status checks (docker or k8s)
- Enable app polling (e.x.: `waypoint project apply -app-status-poll-inter

[2021-08-24 15:01] briancain commented on #2097
I think these are two separate issues: one about `waypoint status` the CLI command and the other about the application status poll handler. But I think both can be solved by taking into account the operation status and checking if the deployment has been destroyed. For the CLI, we can probably just show the operation like we do for `deployment list`. For the poll handler, if the latest is destroye

[2021-08-24 15:46] xiaolin-ninja opened #2109 "clean up optional HCL parsing in documentation"
**Describe the bug**
Our auto-generated documentation parsing can't parse optional blocks as optional. Our current workaround is to keep them in the "Required parameters" section, but show all the nested fields as optional. It'd be great to just put everything under the "Optional parameters" heading to avoid confusion.

**Steps to Reproduce**
https://www.waypointproject.io/plugins/aws-ecs#required

[2021-08-24 15:49] #2069 closed

[2021-08-24 16:16] briancain commented on #2089
By destroyed, are you expecting the entry to be removed from `deployments list`? I could see why we're holding onto the deployment, even if unsuccessful. It's useful historic information to see an errored deployment. But maybe you mean "marked as destroyed"?

[2021-08-24 16:18] briancain commented on #2075
I'm actually not sure if this is a waypoint thing or waypoint-plugin-sdk thing! But probably good to have it live here for now, since there's probably a once or twice over that will need to be done to see what logs and stepgroup output we can simplify once it's in place.

[2021-08-24 16:23] krantzinator commented on #2004
The VPC is not actually required. This was an error in our documentation. See #2102

[2021-08-24 16:23] #2004 closed

[2021-08-24 16:36] ragesoss opened #2113 "Procedure for recovering from failed `waypoint upgrade` is not documented"
**Describe the bug**
The automatic server upgrade process can fail and leave the system in an unusable state, but the error message and upgrade documentation don't provide enough info on how to recover from the situation.

In particular, if the automatic upgrade process (`waypoint server upgrade -platform=nomad -auto-approve`) fails after upgrading the server but before setting up the new Waypoint

[2021-08-24 18:22] mitchellh opened #2114 "ODR: Add `Entrypoint` argument to TaskLaunchInfo"
We want to extend TaskLaunchInfo to have a specific `Entrypoint` so that we support overriding the Entrypoint on tasks. We don't use this today but this will give us more flexibility in the future.

[2021-08-24 18:24] mitchellh opened #2115 "Kubernetes Runner: Expire pods used for on-demand runners"
With #2112, the pods complete and stick around. We need to expire these pods. To do this, we're going to switch to using [Jobs](https://kubernetes.io/docs/concepts/workloads/controllers/job/) and pair that with the new [TTL Controller](https://kubernetes.io/docs/concepts/workloads/controllers/ttlafterfinished/) to clear them out after a period of time.

[2021-08-24 18:25] mitchellh opened #2116 "Track tasks for ODR to enable stopping, better errors, etc."
For On-Demand Runners (ODR) today, we currently launch the runner, target the job, and that's it. We don't track that we have a pending task or any other further accounting. This limits us in one major way: we never call `StopTask`. Additionally, if we tracked tasks, we could also show better messages to the user such as "Your job is waiting on a task runner to start."

[2021-08-24 18:43] briancain commented on #2113
Hey there @ragesoss - sorry to hear about the upgrade failure 😞

It looks like you aren't completely out of luck. At the beginning of the upgrade Waypoint takes a snapshot of your server. I think you should be able to recover your server by the following:

- Try to uninstall the existing waypoint server. (This might fail, if the client can't be created. You might have to remove the task with `noma

[2021-08-24 18:46] #2114 closed

[2021-08-24 18:55] #1267 closed

[2021-08-24 20:00] mitchellh commented on #2115
Did this in the PR

[2021-08-24 20:00] #2115 closed

[2021-08-24 20:10] ragesoss commented on #2113
Thanks @briancain! I couldn't figure out how to uninstall the existing server, but I was able to run the install again (basically, by manually executing the [original provisioner `local-exec` command](https://github.com/WikiEducationFoundation/wikieduinfra/blob/27d1a74067290ec92f33f114848c3b17ebae213c/nomadserver/main.tf#L292) that was used to install it in the first place, with the same environme

[2021-08-24 20:58] izaaklauer commented on #2097
That sounds good to me! I would vote that `waypoint status` defaults to showing the latest non-destroyed deployment or release, and the poll hander polls the latest non-destroyed deployment or release.

[2021-08-24 21:03] briancain commented on #2113
Hey @ragesoss - I was able to reproduce this upgrading Waypoint server and runners in Nomad. My runner didn't fail during the upgrade, but fails immediately after it gets scheduled in nomad with a similar error.

I'm glad the restore worked however! I'm not sure why the context is invalid, after looking at the server upgrade CLI it's saving it at the spot I expected it to be. Anyway, we will take

[2021-08-24 21:07] izaaklauer commented on #2089
Ah good clarification - I expected `waypoint deployment destroy` to remove the entry from the list, in the same way that it removes a successful deployment from the list when you destroy it.

[2021-08-24 21:12] briancain commented on #2113
I have a hunch this is related to https://github.com/hashicorp/waypoint/issues/1348, i.e. when Nomad schedules a new server job, it loses the volume from the previous server. 🤔

[2021-08-25 08:42] irab commented on #1826
I'm getting the same error too using the [Cloud Run example](https://github.com/hashicorp/waypoint-examples/tree/main/gcp/google-cloud-run/nodejs).

Following the example here:
https://learn.hashicorp.com/tutorials/waypoint/google-cloud-run

Running `waypoint init` works fine but `waypoint build` fails with:
[code]

OSX 11.4
waypoint version:
CLI: v0.5.1 (76d7e17f)
Server: v0.5.1

[2021-08-25 10:03] irab commented on #1609
Just 💯 ing this feature. Will be a huge differentiator to most other deployment tools if you can get this right - currently managing hundreds of runners that are a real pain. You'd have to:

- figure out how to do polling of git repos without the server being overloaded - ideally your repo hosting system would push to the waypoint server?
- pushing jobs to registered runners on CloudRun/Fargate
-

[2021-08-25 10:06] irab commented on #1609
OK, I see this has just merged!
https://github.com/hashicorp/waypoint/pull/2056

Let me know how to beta test!

[2021-08-25 12:17] psihachina opened #2122 "Support Data sources as in Terraform"
**Is your feature request related to a problem? Please describe.**
There is a need to transfer any parameters from other sources. For example, terraform creates and passes subnets to AWS SSM and they need to be passed to waypoint.hcl

**Describe the solution you'd like**
Use Data sources as in Terraform.

[code]

**Describe alternatives you've considered**
Use the wrapper to transfer data to waypo

[2021-08-25 13:32] krantzinator opened #2125 "docs: add note on how ECS servers perform their upgrade"
**Is your feature request related to a problem? Please describe.**
[In our upgrade guide](https://www.waypointproject.io/docs/upgrading#server-upgrade-command), we have notes on how each platform performs their upgrade. We need to add a note for ECS.

[2021-08-25 14:00] xiaolin-ninja commented on #2097
Piggy backing off this too, deleting deployments doesn't change anything in `waypoint release list`. Should we at least change the icon from a rocket ship to a red cross, or delete altogether?

[2021-08-25 14:53] briancain commented on #1609
Hey there @irab - Right now the feature is still new and pieces of it are still in development, but currently we have the core feature with a docker task runner merged into `main` and a `k8s` task runner open a pull request (more plugins on the way too). If you wanted to give either of those a try today feel free, you'll need to build your own waypoint client, waypoint server, and the on-demand ru

[2021-08-25 15:00] xiaolin-ninja opened #2126 "ui: confusing message on `waypoint destroy` for GCP"
**Describe the bug**

When running `waypoint destroy` on Google Cloud Platform (using examples), it successfully destroys everything, but returns the confusing message:

"⚠️ Cannot destroy deployment with revision <blah>, as revision is actively receiving traffic."

This happens because the deploymentDestryFunc() refuses to destroy the active deployment, but the workspaceDestroyFunc() does.

**Ste

[2021-08-25 16:43] krantzinator opened #2128 "plugin/pack: Support run-image"
**Is your feature request related to a problem? Please describe.**
Based on [this Discuss post](https://discuss.hashicorp.com/t/how-to-pass-builder-configuration-arguments-to-the-build-step-when-using-the-pack-plugin/28699), it would be useful to support pack's `run-image`.

[2021-08-25 17:06] krantzinator opened #2129 "`waypoint status` should take into account destroyed deployments"

[2021-08-25 17:06] krantzinator opened #2130 "application status poll handler should also take into account destroyed deployments"

[2021-08-25 17:06] krantzinator opened #2131 "Releases should be destroyed when their corresponding deployments are destroyed"
When we prune deployments, we do not subsequently prune the attached releases.
So we end up like this:

[code]

[2021-08-25 20:22] briancain opened #2136 "Allow input variables to be marked as 'sensitive'"
**Is your feature request related to a problem? Please describe.**

When configuring waypoint with any kind of sensitive variable, like a container registry password or API token, Waypoint should let users mark that variable as sensitive. Then in the case where we show the variable in the logs, or any other place (like the UI), we can know to omit the value so we don't leak sensitive information l

[2021-08-25 20:24] krantzinator opened #2137 "core, cli, ui: log the values of used input variables in output"
**Is your feature request related to a problem? Please describe.**
We should output the list of variables and their values for the user to verify.

**Describe the solution you'd like**
This could be at the start of an operation, or in the output once an operation concludes. This should be in the logs and UI definitely, and possibly in the CLI, though the output could be long so we'd want to do som

[2021-08-25 20:25] briancain opened #2138 "ui: The UI should enable users to mark variables as sensitive and hide their values"
**Is your feature request related to a problem? Please describe.**

See https://github.com/hashicorp/waypoint/issues/2136. This is the UI implementation for respecting that value. (sorry to be brief! 😅 ).

**Describe the solution you'd like**

I know TF Cloud has a good answer for this, so perhaps something like that to keep this feeling the same?

For example you can enter in an API token or pass

[2021-08-25 20:29] briancain opened #2139 "ui: The UI should have a way to specify application scoped variable values"
**Describe the bug**

I haven't verified this, but imagine this would result in a bug:

If you have two applications inside the same project that have identical input variables, but need separate values (say the artifact image), in the UI we only have project-level input variable settings. In this case, you can't set an input variable per-app as it is likely applied project wide.

**Steps to Repro

[2021-08-25 20:36] briancain opened #2140 "ui: "Autoload" input variables defined in an application as available to be configured"
**Is your feature request related to a problem? Please describe.**

When you're setting up a new project, especially with a remote gitops project, the input variables page is empty. I have to go back to my waypoint.hcl where ever its at to see what input variables are available for me to configure. If a project has been initialized already, we could load the input variables as available to be conf

[2021-08-25 21:17] jgwhite opened #2142 "ui: Toggle component doesn't support dark mode"
**Describe the bug**
The toggle component doesn't support dark mode correctly:

<img width="384" alt="image" src="https://user-images.githubusercontent.com/34030/130865559-534ade3c-c382-430f-8317-e0bc5ecd43f2.png">

**Steps to Reproduce**
1. Enable dark mode on your system or browser
2. Visit a project settings page
3. Observe the “Automated sync” toggle

**Expected behavior**
We could probably ke

[2021-08-26 13:11] jgwhite opened #2147 "ui: Authentication radio buttons are not reachable by keyboard"
**Describe the bug**
On the project repository settings pages, the authentication radio buttons are not reachable by keyboard.

**Steps to Reproduce**
1. Visit the project repository settings page (i.e. `/default/my-project/settings`)
2. Try tabbing between fields
3. Observe you cannot reach the authentication radio buttons

https://user-images.githubusercontent.com/34030/130968385-05d8052d-7723-4

[2021-08-26 14:00] jgwhite opened #2150 "ui: Leaky state in project settings form"
**Describe the bug**
Values entered in the project settings form appear to “leak” between different projects. This is a UI-only problem.

**Steps to Reproduce**
There are probably a few ways to reproduce this, but is the one I had to hand:

1. Create a new project (with “connect a repository” checked)
2. Enter valid repo details and save
3. Return to “Projects”
4. Create another project (also with

[2021-08-26 14:59] karl-cardenas-coding opened #2152 "Docker deploy fails - Maximum supported API version is 1.40"
**Describe the bug**
Deploying to Docker fails when a newer version of Docker is used. The user receives the following error message.
[code]

**Steps to Reproduce**
Steps to reproduce the behavior.

Visit the following learn tutorial and run the [interactive lab](https://learn.hashicorp.com/tutorials/waypoint/get-started-docker).

Please include any `waypoint.hcl` files if applicable, as well as a

[2021-08-26 15:19] #2126 closed, assigned to xiaolin-ninja

[2021-08-26 16:25] #2152 closed, assigned to nobody

[2021-08-26 21:36] richstokes opened #2161 "plugin/ecs: provide way to set different subnets for ALB vs the containers"
Right now you can set one group of subnets, this applies to both the containers AND the ALB. What if you want your containers to be in a private subnet, but your ALB to be in a public subnet? There doesn't seem to be a way to configure this.

[2021-08-26 22:08] richstokes opened #2162 "plugin/ecs: support autoscaling"
It would be great if Waypoint was able to configure autoscaling targets for applications.

[2021-08-26 22:15] richstokes opened #2163 "plugin/ecs: support blue/green deployments"
Instead of doing a regular cutover, which seemed to result in downtime when testing, it would be helpful if waypoint could use CodeDeploy to do a blue/green deployment.

[2021-08-27 10:25] #2147 closed, assigned to nobody

[2021-08-27 23:02] konsti opened #2173 "`waypoint deploy` to Nomad fails with CSI volumes"
**Describe the bug**
Deploying a service with Waypoint to Nomad fails when the Nomad job file contains CSI volumes. The nomad API responds with an 500 error:
`
[code]
This seems related to the recent Nomad 1.1.0 change that now defines a capabilities stanza. Our volume has an attachment mode and an access mode.

**More important:** if we schedule the job file directly in Nomad, the job schedules &

[2021-08-30 11:51] thatsk opened #2175 "Waypoint to deploy in multiple nomad cluster"
**Is your feature request related to a problem? Please describe.**
As we know waypoint integrates with nomads. So I wanted to know if we want to deploy from dev nomad environment, staging and then production environment nomad.

**Describe the solution you'd like**
How we deploy the application from build to a different environment in nomamd.Is there a way we promote artifacts to a different enviro

[2021-08-30 12:24] thatsk commented on #669
not working for nomad platform

[2021-08-30 13:51] jgwhite opened #2176 "`waypoint runner on-demand set` panics with non-existent `-id`"
**Describe the bug**
Running `waypoint runner on-demand set` with `-id` that does not yet exist in the database results in a SEGV:

[code]

**Steps to Reproduce**
Run the following command:

[code]

Where `SOME_ID` definitely does not already exist in the database.

**Expected behavior**
I’d expect the ODR config to be created just-in-time and for the command to succeed.

**Waypoint Platform Versi

[2021-08-30 16:32] #2176 closed

[2021-08-31 16:05] briancain opened #2182 "Server defined waypoint.hcl is ignored with a gitops backed project"
**Describe the bug**

I could see this as being intentional, and if so, we should add a warning about it. Otherwise it's a bug!

Waypoint ignores the server defined waypoint.hcl that I setup in the project settings and instead uses the one inside the project.

**Steps to Reproduce**

Set up a project through the Waypoint UI that's backed by git. Instead of using the project waypoint.hcl, opt for a

[2021-09-01 16:46] evanphx commented on #2162
That would a great feature @richstokes! Reviewing the ECS docs on autoscaling, it seems like it's self-contained to ECS, so Waypoint just lacks the ECS specific configuration block to configured this. Does that seem right to you?

[2021-09-01 17:01] evanphx commented on #2163
@richstokes Seems like to use those features, the user would have to setup all the CodeDeploy bits as well. CodeDeploy is an orchestration engine, a bit like waypoint. We're a bit unsure how we'd enable that without a lot of confusion.

On the topic of zero-downtime deployments though, Waypoint could (and should) do more about how it switches to new deployments to make sure there is no downtime. I

[2021-09-01 17:03] evanphx opened #2187 "ECS Releasing results in downtime due to lack of deployment warming"
Currently, performing an ECS release can result in downtime because the new deployment being targeting is not yet running, and so shunting traffic to it results in the application experiencing downtime.

Perhaps Waypoint should check the status of a deployment before manipulating the release.

[2021-09-01 17:03] evanphx commented on #2163
I've created #2187 to track the broader issue.

[2021-09-01 17:08] evanphx commented on #2173
Hi @konsti, it looks like we need to upgrade the version of the nomad client package we're using as we suspect that it's just older and not parsing that newer HCL. We'll do that for the next minor release.

[2021-09-01 17:09] evanphx commented on #2173
![bitmoji](https://sdk.bitmoji.com/render/panel/32a777c8-6bf1-498f-9dfc-166230914791-8cb64c44-6a64-4f62-9642-460dd37039d6-v1.png?transparent=1&palette=1&width=246)

[2021-09-01 17:14] evanphx commented on #2175
Hi @thatsk! We're in the midst of working on some features that should make it possible for you to do this. Right now, we're working on the ability for waypoint workspaces to hold variables themselves (in a way), allowing a single waypoint configuration to adapt to dev/staging/prod.

One thing that we're still thinking about is how to handle promotion. That will come in time, but we don't yet have

[2021-09-01 17:18] thatsk commented on #2175
How about promoting the artifact to different environments??

On Wed, 1 Sep 2021, 22:45 Evan Phoenix, ***@***.***> wrote:

[2021-09-01 17:40] richstokes commented on #2163
Yep, all makes sense. The reason I created this was because the current deployment method seems to have downtime, which is odd/unexpected because the default ECS deployment strategy is to do a kind of rolling deployment where there is no downtime.

I think this is because Waypoint seems to create a new service (instead of letting ECS deploy a new _version_ of a service) and orchestrates the cutove

[2021-09-01 17:41] richstokes commented on #2162
Yep. You basically give ECS a metric to track (e.g. CPU/memoy load, SQS queue size) and it will autoscale a services' count based on that. It's all internal to ECS.

[2021-09-02 10:10] jgwhite opened #2191 "Input variable value should truncate in list view"
**Describe the bug**
In the list of input variables, long values overrun their containers:

<img width="1009" alt="CleanShot 2021-09-02 at 12 08 19@2x" src="https://user-images.githubusercontent.com/34030/131825640-6e4a8b46-386e-43ec-b960-e3ed339ac6a3.png">

**Steps to Reproduce**
1. Add an input variable with a long value
2. Observe the value overrunning as pictured above

**Expected behavior**
T

[2021-09-02 12:51] #2061 closed

[2021-09-02 12:51] #2090 closed

[2021-09-02 15:09] psihachina opened #2198 "Automatically configure the alb to redirect HTTP to HTTPS"
**Is your feature request related to a problem? Please describe.**
When I deployment the ECS app in Waypoint with a certificate does not redirect from HTTP to HTTPS.

**Describe the solution you'd like**
If a cert has been configured waypoint to automatically configure the alb to redirect HTTP to HTTPS

**Describe alternatives you've considered**

**Explain any additional use-cases**

**Additional

[2021-09-02 18:54] krantzinator commented on #2150
As an added piece of information, the waypoint server logs include
[code]

[2021-09-02 19:05] krantzinator opened #2202 "server/singleprocess: Update error messaging for polling"
**Describe the bug**
The error message here could be updated to be more specific when the poll job fails because there are no active deployments or releases.
This should rarely happen, but for those edge cases, it shouldn't return an error.

**Steps to Reproduce**
* `waypoint init` a project
* Open the UI, and go to the project settings
* Fill out the git repo connection settings, and check "Enabl

[2021-09-02 20:21] koesbong commented on #2150
This may be a regression because [a similar issue](https://github.com/hashicorp/waypoint/issues/1397) was created before and solved in [this PR](https://github.com/hashicorp/waypoint/pull/1623).

[2021-09-02 20:38] briancain commented on #2202
We're about to fix this one, but this issue has a couple of things that need to be fixed:

- A recent update to the app status poll handler last release always returned an error if no deployments or releases were found. In this case, we already have some handling a few lines later that would skip building the job rather than returning an error.
- The AppStatusPeek function shouldn't be returning a

[2021-09-03 15:15] #2074 closed

[2021-09-03 15:15] krantzinator opened #2208 "internal/config: not parsing complex types from varfiles"
**Describe the bug**
`var-file` flag only parses simple types, not complex types.

**Steps to Reproduce**
Using the example from [waypoint-examples/learn/input-variables](https://github.com/hashicorp/waypoint-examples/tree/main/learn/input-variables), add this to your deploy stanza:
[code]
Define a variable block like so:
[code]
create a `test.wpvars` file with the entry
[code]
Run a waypoint up/d

[2021-09-03 15:18] sabrinako opened #2209 "Dark/light themes for HCL CodeMirror text field"
**Is your feature request related to a problem? Please describe.**
Currently, the HCL file input on the settings page of a project is a CodeMirror component in the Monokai theme. This was approved by Al if only temporary. We ideally would like it to be adjustable with dark/light mode and more in line with Waypoint branding.

**Describe the solution you'd like**
Dark/light themes based on input fro

[2021-09-03 17:47] #2202 closed

[2021-09-03 17:49] krantzinator opened #2216 "server/singleprocess: Add and update tests for polling"
Improvement request:

We need to write a test to cover the edge case that this PR fixed: https://github.com/hashicorp/waypoint/pull/2204

And per comments on that PR, move the tests to `poll_application_test.go`

[2021-09-03 19:55] krantzinator commented on #2150
An additional piece here is, if you select `Enable automated deployment on changes`, then the Waypoint server freezes and it is impossible to add new projects via the UI.
This might be a completely separate issue or related, let me know if I should make a separate issue here.

Here's a gist of the full stack trace when I SIGQUIT a stuck command after I do the above: https://gist.github.com/krantzi

[2021-09-06 17:54] TECH90HS opened #2226 "Lmk"

[2021-09-06 18:08] #2226 closed

[2021-09-07 10:13] #1512 closed

[2021-09-07 13:35] #2161 closed

[2021-09-07 15:55] samgabrail opened #2232 "add multiple tags to a docker image and push them to a registry"
**Is your feature request related to a problem? Please describe.**
I would like to add multiple tags to a docker image and push them to a registry. I'd like to use `gitrefpretty()` and also `latest` for an image. This is what I'm doing right now:
[code]

**Describe the solution you'd like**
I would like to get `tag` to be an array, something like this: `tag = [gitrefpretty(), "latest"]`. we'd have

[2021-09-07 19:50] psihachina opened #2240 "The latest version waypoint doesn’t want deploy the ECS app"
**Describe the bug**
The latest version waypoint doesn’t want to deploy the ECS app

**Steps to Reproduce**
`waypoint up -app hamster -var-file waypoint.wpvars`

https://gist.github.com/psihachina/f566b712411f7669472c6ac29fbb7349

**Expected behavior**
Successful command complition

**Waypoint Platform Versions**
Additional version and platform information to help triage the issue if
applicable:

[2021-09-07 20:56] briancain commented on #2240
Hey there @psihachina! Based on the CLI version you specified, I have to wonder if that's the root cause? Version 0.2.0 is pretty old at this point. I assume you might be building the Waypoint CLI yourself? Either way, I recommend trying to purge the waypoint CLI from your path just to make sure all old instances are gone, (i.e. eventually running `waypoint` results in command not found), then try

[2021-09-07 22:20] kam1sh opened #2243 "deploy with docker from private registry does not honor docker config"
**Describe the bug**
Command `waypoint deploy` fails if Docker registry is private, and it's not possible to pass authentication information:

[code]

**Steps to Reproduce**
* Create [waypoint.hcl](https://gist.github.com/kam1sh/0d91c95fb4ffdfe656b7b9f6773422e2);
* Execute `docker login <private registry>`
* Ran `waypoint deploy`

**Expected behavior**
Either give a way to provide authentication i

[2021-09-08 08:05] psihachina commented on #2240
Hi, @briancain

The problem was with my fork. I synchronized it with GitHub and for some reason, the cli waypoint was not updating due to this. Synchronized with git CLI and everything is fine. But the problem with the deployment remains. Version CLI when I building the Waypoint: v0.5.0-406-g3903c728 (3903c728). When I directly install the latest version from the website everything fine - version

[2021-09-08 15:23] briancain commented on #2240
@psihachina When you use a CLI built off `main`, are you also using a Waypoint server built off `main`? It's possible there's something odd between using a released 0.5.1 server and a custom built Waypoint CLI off `main` 🤔

Either way, could you include the Waypoint server logs? The logs show the local runner CLI, but I'm guessing the error probably exists on the server logs based on this:

Thank

[2021-09-08 15:36] briancain commented on #2182
This might actually be intended, i.e. if a project already has a waypoint.hcl it always picks that over the severside one. So perhaps the fix is some kind of info box or message that the requested serverside hcl won't be used when a project already defines one 🤔

[2021-09-08 15:39] #2150 closed

[2021-09-08 15:48] xiaolin-ninja commented on #2113
Closing this issue because the documentation has been updated, and the original problem is resolved. :)

[2021-09-08 15:48] #2113 closed

[2021-09-08 16:16] psihachina commented on #2240
@briancain  https://gist.github.com/psihachina/ca547123f2224472424886c93857d3cb

[2021-09-08 16:41] izaaklauer commented on #2198
This is a great idea! If you're interested in implementing this, feel free to assign yourself to it (or let us know so we can assign you).

[2021-09-08 17:09] briancain commented on #2240
Hey there @psihachina - So the error itself is coming from the server, which looks to be a config issue:

[code]

https://github.com/hashicorp/waypoint/blob/91ac77d77149a4cf5fd5e8877b56e9c99c5eeae8/internal/server/singleprocess/state/config.go#L168-L170

There's a lot of work currently happening around configs on `main`, and it's very likely that things are going to break while you are building a

[2021-09-08 17:10] izaaklauer commented on #2243
Hey kam1sh,

This looks like a bug in our docker platform plugin, and we'll use this issue to track it. It looks like the root problem is that we need to implement [this authentication](https://github.com/hashicorp/waypoint/blob/91ac77d77149a4cf5fd5e8877b56e9c99c5eeae8/builtin/docker/registry_docker.go#L64-L121) logic in [this block](https://github.com/hashicorp/waypoint/blob/91ac77d77149a4cf5fd5e

[2021-09-08 17:26] izaaklauer opened #2255 "Add k8s task plugin docs to the k8s plugin page"
Currently, the k8s plugin page has the k8s platform, releaser, and apply plugins, but not the task plugin docs. We just need to include the partial.

[2021-09-08 17:29] izaaklauer opened #2256 "Add task runner explanation block to the waypoint server install command docs"
We should explain the details of how the waypoint server install process configures tasks for various platforms. Can include detail on how ecs tasks are configured.

[2021-09-08 17:31] izaaklauer opened #2257 "Create general on-demand runner page, explaining the feature"
Could live under the runner section in docs ([potentially here](https://www.waypointproject.io/docs/runner/run-manual)). Large swaths could be copied from the ODR rfc.

[2021-09-08 18:03] psihachina commented on #2240
Hi @briancain,

Thanks for the answers. I followed your advice and it helped. I synchronized the CLI and the server based on `main` one and everything worked.

[2021-09-08 18:23] briancain commented on #2240
Excellent! I'll go ahead and close this issue! Glad you were able to get back to a working state.

[2021-09-08 18:23] #2240 closed

[2021-09-08 20:29] briancain opened #2260 "tests/Frontend/ember-build-tests: Unhandled error event"
**Describe the bug**

The ember build frontend tests seem to be failing often. I think this test specifically has failed for me about ~5 times today.

https://app.circleci.com/pipelines/github/hashicorp/waypoint/9896/workflows/0f6d5e84-1e59-47ef-9916-75f8f0d22a36/jobs/87707

[code]

**Steps to Reproduce**

The tests flake occasionally on PRs and commits to main.

**Expected behavior**

They pass.

[2021-09-08 20:51] jgwhite commented on #2260
My guess is that some aspect of the UI build pipeline has a memory leak, leading it to exhaust the available memory in the CI container. See https://github.com/angular/angular-cli/issues/8331 (angular-cli is a fork of ember-cli).

[2021-09-08 20:56] jgwhite commented on #2260
The key message to look at here is the `ERR_IPC_CHANNEL_CLOSED`, essentially indicating that something has abruptly killed the build process.

[2021-09-09 09:17] jgwhite opened #2263 "ui: Deployment Resources"
**Is your feature request related to a problem? Please describe.**
Now that Waypoint provides [detailed information on resources](https://github.com/hashicorp/waypoint/blob/5cbd52ff7a78ebe0594f09127c7f08788e2f51de/internal/server/proto/server.proto#L3235-L3287), I’d like to see that information in the web UI.

**Describe the solution you'd like**
On the deployment detail page, I’d like to see a li

[2021-09-09 10:38] jgwhite commented on #2260
Let’s work backwards from the key `ERR_IPC_CHANNEL_CLOSED` error. The stack trace is almost entirely in [`stagehand`](https://www.npmjs.com/package/stagehand), an inter-process coordination library. The stack trace doesn’t tell us what exactly called into stagehand, so let’s see which of our dependencies use it:

[code]

Though it appears in multiple places, it’s always a dependency of ember-cli-t

[2021-09-09 10:41] jgwhite commented on #2260
**Alternative next step:**
Try using Node 14 for all this stuff instead of 12. 14 is likely faster and less memory hungry.

[2021-09-09 11:45] jgwhite commented on #2260
There’s no guarantee #2264 fixes this. So let’s keep an eye in things and, if this flapper recurs, re-open the issue and continue the investigation.

[2021-09-09 13:18] jgwhite opened #2265 "ui: Long errors overflow the notification box"
**Describe the bug**
Long errors overflow the notification box:

<img width="577" alt="CleanShot 2021-09-09 at 15 15 50@2x" src="https://user-images.githubusercontent.com/34030/132692899-da0637a1-eebf-4f37-ab41-36a18bb604ce.png">

**Steps to Reproduce**
1. From the UI, take some action that triggers a long error, such as clicking the “re-run health check” button on a project that does not have a r

[2021-09-09 15:40] #2208 closed

[2021-09-09 16:45] krantzinator opened #2268 "core: Support project-scoped operations"
**Is your feature request related to a problem? Please describe.**
Support project-scoped operations.

**Describe the solution you'd like**
Currently, commands such as `waypoint up` target only a single application in a given project. We should support running commands for all applications in a given project.

**Additional context**
This enhancement will support future improvements to how we targe

[2021-09-09 17:11] briancain commented on #2260
Hmm, I've seen this fail a couple of times already today. 😢  I think I'll reopen this.

[2021-09-09 17:41] briancain commented on #1700
For what it's worth it looks like the `GetVersionInfo` endpoint is pretty well handled:

First one is with some irrelevant request json in the body, and the second one is nothing at all (which is expected).

[code]

[2021-09-09 17:46] briancain commented on #1700
And the rest of the public API methods seem to be handled:

https://github.com/hashicorp/waypoint/blob/afa060c74bd320ed65a640567d53f73d25e1855a/internal/server/proto/server.proto#L14-L33

- GetVersionInfo (see above)
- ListOIDCAuthMethods
  + Same as GetVersionInfo, the request is an empty proto. So it handles irrelevant request body json similarly. And it's default is no request body
- GetOIDCAut

[2021-09-09 17:46] #1700 closed

[2021-09-09 17:54] briancain opened #2270 "internal/server: Add API validations to all authenticated endpoints"
**Describe the bug**

Similar to #1700, we should make sure all of our authenticated endpoints have API validations to avoid issues like https://github.com/hashicorp/waypoint/issues/1682.

**Steps to Reproduce**

Certain endpoints could cause the server to panic if a malformed request was given. I don't have an extensive list of which those could be beyond the `GetDeployments` endpoint. So part of

[2021-09-09 17:54] briancain commented on #2270
I plan on working on this issue.

[2021-09-09 19:05] #1682 closed

[2021-09-09 19:24] jgwhite commented on #2260
@briancain could you point me in the direction of a failure? Would be good to see if the output has changed.

[2021-09-09 19:25] jgwhite commented on #2260
I think the next relatively cheap thing to try is bumping the version of Node we use.

[2021-09-09 20:00] jgwhite commented on #2260
Managed to invalidate the Node 14 hypothesis very quickly 😅

**Next step:**
Run a build with ember-cli’s debug mode enabled (I think it’s `DEBUG=* ember build` but don’t hold me to that) and see if we can trigger the same failure and see more output.

**Alternative:**
Try upgrading the five versions of ember-cli-typescript 😬

[2021-09-09 21:08] jgwhite commented on #2260
I have some workflows running with `DEBUG=*`. We get A LOT of information, which is great. Should lead us much closer to the source of the issue. As soon as I manage to get one of these builds to fail I’ll post the trace.

[2021-09-09 21:12] jgwhite commented on #2260
Managed to get a 137 exit code from running `DEBUG=* yarn build:test` manually in a circle container. That would seem to indicate that its an out-of-memory error, but it’s also possible that the glut of debug output caused the out-of-memory error.

**Next step:**
Try again with `DEBUG=ember-cli:* yarn build:test`

[2021-09-10 00:30] apparentlymart commented on #2136
The way this works in Terraform is unfortunately a rather gnarly cross-cutting concern: we [mark](https://github.com/zclconf/go-cty/blob/main/docs/marks.md) values as sensitive as they pass through a `variable` declaration with `sensitive = true`, and then every downstream of use of that variable needs to be careful to preserve the sensitive marking in whatever way makes sense for the semantics of

[2021-09-10 05:43] sl1pm4t opened #2274 "waypoint apply quietly ignores some flags if others are not set"
**Describe the bug**
This is a confusing CLI UX problem.

When using `waypoint project apply` commands, some git flags are silently ignored if they aren't paired with: `-datasource=git` flag, even if git datasource has previously been setup on the project.

**Steps to Reproduce**
Execute a command to update the git ref of the project:

[code]

*Note* waypoint doesn't show any error, however if we

[2021-09-10 05:49] sl1pm4t commented on #2060
If no one is working on this, I'm happy to work on a fix?
I'm asking to avoid a double up of effort like my last [PR](https://github.com/hashicorp/waypoint/pull/2221). 😂

[2021-09-10 08:29] #2191 closed

[2021-09-10 09:50] jgwhite commented on #2260
Ran with `DEBUG=ember-cli:*` and it gives us a bit more context, but I think the output is interleaved due to parallelism:

[code]

It certainly seems like problems occur in conjunction with the two large files: `server_pb.js` and `axe.js`, both of which are out of our control.

**Next step:**
Try to get debug output with `JOBS=1` to reduce interleaving.

[2021-09-10 09:51] jgwhite commented on #2260
**Additional avenue of investigation:**
Read the ember-cli-typescript source to better understand where exactly that IPC error could be thrown.

[2021-09-10 10:04] jgwhite commented on #2260
With `JOBS=1` I three successful builds in a row. This doesn’t prove anything, but I’m to switch gears to try `DEBUG=ember-cli-typescript:*`.

A thought: if the problem is the typescript type checker running out of memory, can we just disable the check during a build? ember-cli-typescript doesn’t actually use typescript to compile the files, just to type check them. Babel does the compilation. I’m

[2021-09-10 10:07] jgwhite commented on #2260
On a successful built, we get this output with `DEBUG=ember-cli-typescript:*`:

[code]

Followed by a bunch of other stuff. Trying to trigger a failing build to see if those messages are the same.

Note to self: still investigating ember-cli-typescript because it’s the only thing that uses stagehand.

[2021-09-10 10:31] jgwhite commented on #2260
I’m now in the delightful situation where about five builds in a row have succeeded, without changing anything other than the DEBUG setting 😬

[2021-09-10 10:44] jgwhite commented on #2260
OK, here we go:

[code]

So for all the world it appears that type checking completed successfully, and quickly.

[2021-09-10 10:46] jgwhite commented on #2260
Nagging thought: what if the process is being killed by docker due to an out-of-memory error, and this stagehand stack trace just *happens* to be the wait that scenario manifests? i.e. maybe ember-cli-typescript is the wrong place to look. Good to rule it out, I guess.

[2021-09-10 10:47] jgwhite commented on #2260
**Another avenue of investigation:**
Bisecting is going to be rather painful, but maybe we could figure out *when* these errors starting happening from studying Circle’s data. Did we install a new dependency? Did the generated server_pb.js grow just enough to tip Babel over the edge in terms of memory consumption?

[2021-09-10 10:50] jgwhite commented on #2260
Note: the container is supposed to have 4Gb of memory. I find it hard to believe our build would consume that without a rampant memory leak.

[2021-09-10 10:57] jgwhite commented on #2260
On the “when did this start?” trail, we should look at the following PRs:

- #2145 (the biggest change, including changes to `server_pb.js`)
- #2247
- #2246
- #2250

And see if we can produce and ember-build-tests failure on the commit immediately prior to each.

[2021-09-10 12:04] jgwhite commented on #2260
**Another line of investigation:**

Checking how much memory the build actually uses.

[2021-09-10 12:35] jgwhite commented on #2260
Here’s my script, monitoring memory usage over time for `node` processes:

[code]

[2021-09-10 12:39] jgwhite commented on #2260
Output here:
https://gist.github.com/jgwhite/3a2c540e8636cb04f368dcdfdcca8129

[2021-09-10 13:06] jgwhite commented on #2260
Assuming I’ve done by data collecting and munging correctly (highly unlikely), we use a lot of memory during that build:

<img width="1153" alt="image" src="https://user-images.githubusercontent.com/34030/132857718-f22e5cd3-6ab6-47df-bd61-513e2a3b86bf.png">

[2021-09-10 13:17] jgwhite commented on #2260
Here’s another using `VmSize` instead of `VmPeak`:

<img width="1314" alt="image" src="https://user-images.githubusercontent.com/34030/132859176-426291a0-7d7a-42f9-aea4-4be890247775.png">

[2021-09-10 13:41] jgwhite commented on #2260
If these memory usage stats are to be believe, then @izaaklauer wisely notes:

[2021-09-10 15:04] jgwhite commented on #2260
It’s the end of the week for me, and at this point in the investigation, I’m feeling fairly confident we’re dealing with a memory leak or runaway memory consumption by either a bug in one of our build dependencies or perhaps a bug caused by the confluence of our build dependencies.

**Next step:**
Go for a walk? 😬

[2021-09-10 15:12] izaaklauer commented on #2060
I think you can take an initial stab at this! One concern I have is that I'm not sure yet how much core rewiring will be required to make the deployment operations aware of the sequence number. If that part starts to feel complex, don't hesitate to reach out for feedback early or pass this issue back to us.

[2021-09-10 15:29] catsby opened #2276 "False negative ECS deploy if remote runner lacks permissions"
https://github.com/hashicorp/waypoint/pull/2220 introduces remote runners for ECS Server deploys.

While testing, I noticed that if the On-Demand Runner (ODR) does not have the required permissions to run the follow up status reports, the `up` operation appears to error, however the deploy does actually seem to work.

Example output (requires #2220):

[code]

In the runner code, we return errors i

[2021-09-10 15:48] jgwhite commented on #2260
**Possible next step:**
Take some heap snapshots. See if we can see where all the memory’s being used.

[2021-09-10 18:04] amandakalk opened #2279 "Update empty project screen content"
**Is your feature request related to a problem? Please describe.**
When there are no projects, the UI currently advises the user to go to the CLI to create a new project when you can create a project in the UI. Seems like we should be advising the user to continue in the UI rather than jump back to the CLI.

<img width="1083" alt="Screen Shot 2021-09-10 at 1 18 00 PM" src="https://user-images.gith

[2021-09-10 20:39] sl1pm4t commented on #2060
Thanks. I didn't realise this might involve touching the core, but I'm still happy to start poking around.

[2021-09-10 20:50] briancain commented on #1707
Hey @grahamhub ! Sorry to take so long to get back to you. After some thinking, I don't think this feature actually makes sense to implement. It feels a lot like a Waypoint developer need, rather than a Waypoint user need. And the work required to get this right so that we don't accidentally prune legit contexts doesn't feel like it's worth it. Generally I don't imagine users will have so many con

[2021-09-10 20:50] #1707 closed

[2021-09-13 13:14] jgwhite commented on #2260
@gregone found a good guide to taking heap snapshots in Node:

https://github.com/ember-cli/ember-cli/issues/9256#issuecomment-640268603

[2021-09-13 13:57] jgwhite commented on #2260
@gregone as discussed, [the ember-cli-typescript guidance on upgrading ember-cli-babel](https://github.com/typed-ember/ember-cli-typescript#update-ember-cli-babel).

[2021-09-13 14:19] gregone commented on #2260
Other things to try:

- disable sourcemaps for test builds
- ignore `/lib` files in babel

[2021-09-13 14:41] gregone commented on #2260
https://github.com/hashicorp/waypoint/pull/2287 removes almost a minute from the build. We'd need to make sure it all still works for the prod build

[2021-09-13 15:34] #2270 closed

[2021-09-13 20:03] jgwhite commented on #2260
Useful tidbit: https://support.circleci.com/hc/en-us/articles/360043994872-How-to-record-a-job-s-memory-usage

[2021-09-13 20:14] jgwhite commented on #2260
Tried adding the script from above to a debug branch and got this (from current `main`):

<img width="552" alt="image" src="https://user-images.githubusercontent.com/34030/133150120-df3a6716-db8e-460b-a173-d9a835e62f2b.png">

[2021-09-13 21:13] briancain opened #2292 "builtin/k8s: Enable autoscaling kubernetes deployments"
**Is your feature request related to a problem? Please describe.**

Currently, when Waypoint creates a Kubernetes deployment, it only creates a single pod per deployment with no autoscaling. Users can still enable autoscaling out of band from Waypoint, but now this would have to be done for each future deployment as well leading to some messy deployment dependencies.

**Describe the solution you'd

[2021-09-13 21:14] briancain commented on #2292
I will be working on this feature.

[2021-09-14 08:00] sl1pm4t commented on #2060
@izaaklauer I've submitted PRs to [this repo](https://github.com/hashicorp/waypoint/pull/2296) and the [waypoint-plugin-sdk](https://github.com/hashicorp/waypoint-plugin-sdk/pull/58), but I do not have permissions to tag you as a reviewer.

[2021-09-14 13:49] jgwhite opened #2300 "Use ember-a11y-refocus"
**Is your feature request related to a problem? Please describe.**
Currently the UI does not do any intelligent focus management when transitioning between routes, leading to a broken/disorientating experience for screen reader users.

**Describe the solution you'd like**
I’d like us to use [ember-a11y-refocus](https://github.com/ember-a11y/ember-a11y-refocus) to solve this problem.

**Describe al

[2021-09-14 13:49] jgwhite commented on #2300
cc @MelSumner

[2021-09-14 15:51] gregone commented on #2260
Summary of what I found while experimenting with https://github.com/hashicorp/waypoint/pull/2299 & https://github.com/hashicorp/waypoint/pull/2297

- we were maxing out the memory around 4 GB with a parallelization in 2 processes on a 4GB RAM docker container
- upping the container size to 6GB also maxed out the container RAM
- setting `JOBS=1` brought the max memory usage down to ~= 5GB https://g

[2021-09-14 16:13] #2260 closed

[2021-09-14 16:26] sabrinako commented on #1875
After a conversation with @almonk, we decided to hold off on further work for this issue until probably the 0.7 release

[2021-09-14 16:32] izaaklauer commented on #2058
Will likely address https://github.com/hashicorp/waypoint/issues/1527

[2021-09-14 18:41] #2279 closed

[2021-09-14 20:57] izaaklauer opened #2304 "Improve performance of UI_ListDeployments and UI_ListReleases"
These new endpoints are not especially performant. They have been observed to take >10s response time with ~50 deployments with a wp server on a t3-micro, and ~1s with a small project on a developer laptop:

![image](https://user-images.githubusercontent.com/8404559/133332725-3732e3c9-5a19-48e6-9809-e7acbfdbc055.png)

There is some low-hanging fruit here, but will require adding support for more p

[2021-09-15 16:39] evanphx commented on #2232
This is a good use case, I think we're leaning towards exposing an attribute called `additional_tags` that you can set to a list of tags in addition to set. This feature has been scoped to have someone pickup soon!

[2021-09-15 16:44] evanphx commented on #2274
Hi @sl1pm4t! We've identify this and a few other commands have less than intuitive behavior around how their flags work in the presence of existing settings. We're going to start looking at this soon!

[2021-09-15 16:44] izaaklauer commented on #2274
Related: https://github.com/hashicorp/waypoint/issues/2037

[2021-09-15 16:50] gregone commented on #2300
@hashicorp/waypoint-frontend I'm adding this to the 0.7.0 milestone to go along with some larger UI changes

[2021-09-15 16:55] evanphx commented on #2276
Per team discussion, ECS deploy should actually poll ECS to see that the service status indicates it's ready.

[2021-09-15 17:13] evanphx commented on #2304
The issue is that this function is O(MN^2), where M == number of status reports and N == number of deployments. The solution is to add a state.StatusReportForDeployment. Doing so requires adding the ability to add additional memdb indexes for appOperations, so that the StatusReportForDeployment code can use memdb.First directly on the index that of the statusreport table to the deployment id.

[2021-09-15 17:43] jgwhite commented on #2300
Good idea 👍

[2021-09-15 20:34] #889 closed

[2021-09-16 13:50] gregone commented on #1860
I added a note about this in the readme in https://github.com/hashicorp/waypoint/pull/1991 . Should we close this? or keep it to look into some kind of automation

[2021-09-16 13:52] izaaklauer opened #2314 "`waypoint install` on nomad service discovery problems"
**Describe the bug**

Currently, when installing waypoint on nomad with `waypoint server install -platform=nomad`, the local waypoint CLI schedules a waypoint server nomad job, gets the resultant allocation's ip:port, and uses that as the waypoint server address for the new context. There are a few problems with this:

1: If nomad ever schedules a new allocation for the job (for example when a nom

[2021-09-16 14:06] jgwhite commented on #1860
I’d like to keep it open, because I think this will continue to be a stumbling block. Funnily enough, I had forgotten I wrote this up and almost wrote a duplicate earlier this week 🤦‍♀️

[2021-09-17 13:07] #2060 closed

[2021-09-21 16:57] marc-leblanc opened #2333 "Waypoint + Vault - Deployment not able to start"
Attempting to use Waypoint's Vault integration for configDynamic variables results in apps not starting on GKE. Watching the logs, I can verify that Waypoint fetches the secret accordingly, entrypoint detects the config changes, but then the deployment hangs:

[code]

After this final message, the pod restarts and loops through the process again.

[code]

If there is a misconfiguration anywhere, I

[2021-09-22 11:11] jgwhite opened #2339 "ui: Renaming a config variable does not remove the original"
**Describe the bug**
When I rename a config variable then I get two versions of the variable, one with the old name and one with the new:

https://user-images.githubusercontent.com/34030/134333304-3c9b5247-a196-433b-abd1-3d7bb30a37e6.mp4

**Steps to Reproduce**

1. Rename a config variable in the UI (Edit -> Change name -> Save)
2. Observe the duplicate with the original name

**Expected behavior*

[2021-09-22 12:18] gregone commented on #2339
I'll look into the issue later in this cycle, but with the ability to compare the `initialVariable` we should be able to create the renamed var, then unset the old one when that case happens.

[2021-09-22 12:33] jgwhite commented on #2339
@gregone alternatively we could have the variable name be read-only (this is what Heroku’s config vars UI does).

[2021-09-22 17:07] marc-leblanc commented on #2333
More information on this. This specifically seems to be an issue against dynamic secret engines. I have this problem using the database engine, but if I enable a static kv it will work fine.

ex:
path `database/creds/my-role` will not work
path `kv/mysecret` will

[2021-09-22 18:58] #1514 closed

[2021-09-22 18:58] #1491 closed

[2021-09-23 12:39] maratsal commented on #2333
it seems waypoint entrypoint cannot start child process after it gets in to this function https://github.com/hashicorp/waypoint/blob/4f7174861053bb0bf51a17a26d56120867c5b7b1/builtin/vault/config_sourcer.go#L236

[2021-09-23 17:09] evanphx commented on #2314
This is sort of a nomad installation issue. While we setup the context with the allocation IP, there isn't a lot of other options.

If someone is using nomad in production, they'll have to setup the waypoint context with a more stable identifier. Perhaps we need to just output a message about this fact during the `waypoint install` process.

[2021-09-23 17:11] evanphx commented on #2333
This is pulled over from discuss: https://discuss.hashicorp.com/t/waypoint-vault-deployment-not-able-to-start/29740

[2021-09-23 17:44] mitchellh commented on #529
For Waypoint 0.6 we'll have a helm chart and the `waypoint install` for Kubernetes will use this chart: https://github.com/hashicorp/waypoint-helm

(Note, it requires 0.6 which as of this post is unreleased)

[2021-09-25 21:28] mitchellh commented on #542
One issue we just discovered with this is that in the next version of Waypoint we use [Kaniko](https://github.com/GoogleContainerTools/kaniko) to build container images within on-demand runners, but Kaniko doesn't support buildkit secrets.

[2021-09-27 12:38] #1238 closed

[2021-09-27 14:44] izaaklauer commented on #2314
I'm a bit hesitant to ask users to manually modify their context file after a server install, and I also suspect that the `invite` flow pulls the address from the waypoint server, which would propagate the unstable alloc IP.

Another quick-and-dirty option: Now that we have https://github.com/hashicorp/waypoint/pull/2328 merged, nomad users could create a persistent address somehow (consul, clever

[2021-09-27 15:04] jgwhite commented on #2260
#2355 also addresses this.

[2021-09-28 10:22] #2263 closed

[2021-09-28 15:05] izaaklauer opened #2364 "Emit grpc server metrics and traces with opencensus"
This is the first task for getting waypoint telemetry off the ground. It's going to involve a fair amount of exploration and learning (at least for me, as these tools are new to me).

- [ ] Create a `server run` flag for the opencensus agent addr
- [ ] Instrument the waypoint grpc server with the [ocgrpc](https://pkg.go.dev/go.opencensus.io/plugin/ocgrpc) stats handler.
- [ ] Create an end-to-end

[2021-09-28 15:11] izaaklauer opened #2365 "Emit key operation metrics from the waypoint server"
It will be useful to know and alert on waypoint operations. The waypoint server (which spawns operations) should emit metrics on the timing and success/failure of each operation, tagged by operation type.

This will likely be the first custom metric emitted by waypoint, and will likely require us to build a thin abstraction layer over opencensus.

Future work will likely create a span for each ope

[2021-09-28 15:13] izaaklauer opened #2366 "Emit http server metrics and traces with opencensus"
Similar to https://github.com/hashicorp/waypoint/issues/2364, but for the HTTP server.

Waypoint should emit timing and count metrics and traces for every request, tagged by user-agent, path, and response code.

[2021-09-28 15:20] izaaklauer opened #2367 "Runner telemetry"
The waypoint runner should emit useful telemetry. Subtasks include:

- [ ] Instrument the runner GRPC client with [ocgrpc client stats handler,](https://pkg.go.dev/go.opencensus.io/plugin/ocgrpc#ClientHandler)
- [ ] Jobs taken by the runner's Accept method should create new spans, ideally as children of the server initiated span, which would ideally be propogated from the server to the runner via

[2021-09-28 15:24] izaaklauer opened #2368 "Plugin telemetry"
Waypoint plugins should be able to extend existing traces and create new ones, and emit key custom metrics. They should not be directly aware of opencensus as an implementation detail.

Plugin logs should also be annotated with a trace id, so platforms like datadog APM can show them beside relevant spans.

[2021-09-28 15:34] izaaklauer opened #2369 "CEB telemetry"
The CEB should emit useful telemetry.

- [ ] The CEB should get it's telemetry connection settings (i.e. opencensus agent addr) from environment variables, much like the WAYPOINT_SERVER_ADDR. `waypoint runner run` will also need a `-telemetry-ceb-opencensus-addr` flag, which the runner will use to configure the CEB.
- [ ] Instrument the CEB's GRPC client with [ocgrpc](https://pkg.go.dev/go.opencen

[2021-09-28 15:37] izaaklauer opened #2370 "Include opencensus span IDs in logs."
If log lines include a span id, platforms like Datadog APM allows easy correlation between related logs and traces (ex: https://docs.datadoghq.com/tracing/connect_logs_and_traces/).

If metrics are enabled, waypoint should annotate logs generated within the span with the span ID.

[2021-09-28 20:16] jgwhite opened #2374 "Release Resources"
**Is your feature request related to a problem? Please describe.**
Counterpart to #2263, but for release resources.

**Describe the solution you'd like**
All the same UI as #2263, but for release resources, possibly including the cross-referenced resources on the deployment page.

[2021-09-28 20:43] jgwhite opened #2376 "Deployment resource table border is the wrong color"
**Describe the bug**

Not sure when/how this regressed, but shouldn’t be hard to fix:

![image](https://user-images.githubusercontent.com/34030/135162661-681a7d17-ff1a-4d29-be38-fa6e0544a68d.png)

[2021-09-28 20:47] jgwhite opened #2377 "App header is missing on deployment list page"
**Describe the bug**

A regression from #2317

![image](https://user-images.githubusercontent.com/34030/135163118-67b7a1dc-89ed-4e14-8054-e012593986d0.png)

[2021-09-29 10:21] jgwhite commented on #2376
This is very curious. Seems like the border color is just _gone_ in the prod build.

| dev | prod |
| --- | --- |
| ![image](https://user-images.githubusercontent.com/34030/135250716-f070e0bf-cf0b-4945-847a-68bd1bf3bd05.png) | ![image](https://user-images.githubusercontent.com/34030/135250524-4bb8a9c1-3fde-4de5-be9a-95e2f2690054.png) |

[2021-09-29 10:25] jgwhite commented on #2376
I wonder if [clean-css](https://github.com/clean-css/clean-css) is responsible?

[2021-09-29 10:30] jgwhite commented on #2376
Just validated the clean-css hypothesis by adding the following in `ember-cli-build.js`:

[code]

And indeed, we see the missing color declaration.

[2021-09-29 10:34] gregone commented on #2376
Can you attempt to (re)declare using `border-color` and see if the issue still happens? Could be a quick fix while we investigate?

[2021-09-29 10:36] jgwhite commented on #2376
Absolutely. I’ll go with this as a fix for now, but we will want to fix this long-term otherwise it’s bound to bite us again.

[2021-09-29 10:50] marcotuna opened #2381 "ECS multiple waypoint-entrypoint and odd behaviors"
**Describe the bug**
When updating/changing the current running ECS container it will start getting weird behaviors on the Waypoint side such as duplicating log lines. After a bit of diagnostics I found out that multiple waypoint-entrypoint is getting launched
[code]
I've attemped to kill one of those but the service would restart.

**Steps to Reproduce**
I don't know exactly how it happened but I

[2021-09-29 10:54] jgwhite opened #2382 "Protect ourselves against clean-css misfires"
**What’s the bug?**
It’s possible for clean-css to misfire and produce incorrect optimized CSS, as in #2376.

**What should we do about it?**
We need to investigate a little more, but here’s what we’ve discussed so far:

1. ~Upgrade clean-css~ — this is rather involved, we’d have to take over maintenance of [broccoli-clean-css](https://github.com/shinnn/broccoli-clean-css) and perform a chain of m

[2021-09-29 10:55] jgwhite commented on #2376
Wrote up a broader issue for the continued investigation: #2356 2382

[2021-09-29 12:10] jgwhite commented on #2382
4. Recruit Percy to help us catch things by enabling `minifyCSS` in the test env

[2021-09-29 12:55] izaaklauer commented on #2058
Created multiple smaller issues to address this, all tagged with `telemetry`, viewable [here](https://github.com/hashicorp/waypoint/issues?q=is%3Aissue+is%3Aopen+label%3Atelemetry).

[2021-09-29 12:55] #2058 closed

[2021-09-29 13:16] #2377 closed

[2021-09-29 13:58] gregone commented on #2382
there was [a very possibly related bug in clean-css](https://github.com/clean-css/clean-css/commit/dc240b82cb0349f98798faa011e5b7fc3211b85f) that was fixed in 3.3.0 Broccoli-clean-css is stuck on 3.1.x
I think the upgrade, although involved, would be a big benefit for the ember ecosystem

[2021-09-29 14:52] #2376 closed

[2021-09-29 16:43] izaaklauer commented on #2314
Neat idea from @krantzinator - it might be possible to do a `server upgrade` after the initial install, and specify the new advertise addr there. That would work even if it's impossible to know the name of the consul service that will be created ahead of time. Any of these would require some experimentation.

[2021-09-29 16:47] izaaklauer commented on #2381
Hmm, it looks like there there might be two bugs here:

1: It sounds from your experience like the CEB isn't filtering only it's individual `-app` scoped config when it decides to hup the app process.

2: There might be an underlying problem with the CEB hup feature that somehow spawns multiple processes.

We'll look into it, thank you!

[2021-09-30 14:44] gregone opened #2390 "UI OIDC Authentication"
**Is your feature request related to a problem? Please describe.**
Following up on https://github.com/hashicorp/waypoint/issues/1621, we need to enable signing up and logging into the Waypoint UI using an OIDC provider

[2021-09-30 14:48] gregone opened #2391 "0.7 UI Improvements"
Placeholder task for the upcoming UI work.

### Subtasks
- [x] https://github.com/hashicorp/waypoint/issues/2613
- [x] https://github.com/hashicorp/waypoint/pull/2632
- [x] https://github.com/hashicorp/waypoint/issues/2614
- [x] https://github.com/hashicorp/waypoint/pull/2802
- [x] https://github.com/hashicorp/waypoint/issues/2392
- [x] https://github.com/hashicorp/waypoint/issues/2775
- [x] https

[2021-09-30 14:56] gregone opened #2392 "UI: migrate the UI Icons from `structure-icons` to `flight`"
Use https://github.com/hashicorp/flight to replace the Structure icons

i.e restart the work started in our experiment here https://github.com/hashicorp/waypoint/pull/2194 and replace the icons.

It would be a good idea to start by adding more screenshots to the Percy test to cover most icons, then update the icons.

[2021-09-30 15:04] jgwhite opened #2393 "Upgrade to ember-cli-babel 7.x.x wherever possible"
In the interest of improving build times (and build memory usage) for the UI, we have been advised to upgrade to ember-cli-babel 7.x.x where possible (and away from ember-cli-babel 6.x.x).

In my limited research, I believe the two dependencies that are still pinned to older versions of ember-cli-babel are [ember-cli-page-object](https://github.com/san650/ember-cli-page-object) and [ember-cli-flas

[2021-09-30 22:04] jgwhite opened #2397 "Log rendering causes Safari bug(s)"
**Describe the bug**
I’m not completely sure what’s going on here, but the best way to demonstrate is to compare Chrome and Safari rendering an app page:

https://user-images.githubusercontent.com/34030/135535924-6c1b7c90-9b37-4fc2-b12d-4833f65c7c60.mp4

https://user-images.githubusercontent.com/34030/135535956-f74a4530-9f7c-457d-8968-6bf2ac65b9cf.mp4

Notice how the page becomes unresponsive, the

[2021-09-30 22:17] jgwhite commented on #2397
Update — this bug appears to be fixed in Safari Technology Preview `Release 132 (Safari 15.4, WebKit 16613.1.1.5)`. I’d suggest waiting for a Safari update to roll out rather than doing anything ourselves with this bug. Feel free to close.

[2021-09-30 22:23] gregone commented on #2397
Yup looks related to https://github.com/xtermjs/xterm.js/issues/3357

[2021-09-30 22:24] gregone commented on #2397
@jgwhite let's keep it open until the update rolls out

[2021-09-30 22:56] paladin-devops commented on #1615
@mitchellh I've got a more interesting interpolation situation for ya this time. In this case, I'm using templatefile around my Nomad jobspec file, and I'm passing in some vars to the jobspec that way. However, while doing this, I can no longer use "${artifact.image}:${artifact.tag}" to specify my image in the jobspec, as it results in:

`Invalid function argument; Invalid value for "vars" paramet

[2021-10-01 15:06] mitchellh commented on #1615
I think the `templatefile` only has access to variables defined in the map there. It has access to the _functions_ available in HCL but not all the normal variables. So you'd have to pass them in `artifact = artifact` in your map there I think.

[2021-10-03 00:03] paladin-devops opened #2405 "Consul Service Releaser"
**Describe the solution you'd like**
Looking for a way to "release" a deployment via the creation/update of a service in Consul.

**Describe alternatives you've considered**
Added a service to my Nomad jobspec file and deployed with the Nomad jobspec plugin. This creates/updates the service as expected and registers the service with Nomad, but makes the usage of "waypoint release" moot.

Adding th

[2021-10-03 09:13] pam199968 opened #2406 "Waypoint runner : Out of Memory without activity"
Hello,
We have installed a waypoint server and a waypoint runner (0.5.2) in a nomad cluster. Every day, after a couple of hours we observe that the runner is killed by Nomad with this message : Exit Code: 2, Exit Message: "OOM Killed".
We increase memory (4gb)  but the leak still occurs every day even no build has run.

[waypoint-runner.nomad.txt](https://github.com/hashicorp/waypoint/files/727301

[2021-10-04 09:50] #784 closed

[2021-10-04 12:17] #2374 closed

[2021-10-04 13:57] jgwhite commented on #2265
Note that in the example above, it’s the long URL string that causes the issue for us.

[2021-10-04 13:58] #2397 closed

[2021-10-04 15:40] briancain commented on #2406
Hey there @pam199968 ! Sorry to hear about the memory leak. 😞 The Waypoint team will take a look soon.

According to the image you shared, it looks like the OOM kill happens almost right away when the task starts? Is that the typical case in your experience? The graph there also makes it seem less like a leak and more like the task is just using all 4 GB right away, the line is pretty flat at almo

[2021-10-04 16:43] pam199968 commented on #2406
Yes, the OOM occurs during restart when the memory is already full. When there is memory available the restart works perfectly.
Memory consumption is approximately 250MB every 10 minutes.

[2021-10-04 18:38] #2142 closed

[2021-10-04 21:16] krantzinator opened #2414 "cli: context with workspace is not backwards compatible"
**Describe the bug**
If you run a server built off of `main` with the currently released CLI (e.g. 0.5.2) then you cannot run the `waypoint release` or `waypoint version` command due to incompatibility with the new `workspace` option in the context.

[code]

**Steps to Reproduce**
Run `waypoint release` against a project with a CLI of version 0.5.2 and a server installed that was built off of `mai

[2021-10-05 09:14] #2265 closed

[2021-10-05 10:00] jgwhite opened #2418 "Use enhanced OCI image lookup on resource detail page"
**Is your feature request related to a problem? Please describe.**
Currently the resource detail page (pictured below) only knows to show the container image for a K8s pod.

**Describe the solution you'd like**
 @sabrinako introduced an enhanced lookup routine in #2352, bringing richer OCI image information to the deployment detail page, a technique we should employ on the resource detail page too

[2021-10-05 14:31] #1520 closed

[2021-10-05 17:06] gregone commented on #1854
Here's the approach I'd recommend:

- reset the heading styles of `h1, h2, h3, h4, h5, h6` so that they all look the same
- add html classes or a classless component to provide equivalent styling
- restructure all pages using the new component or html classes

[2021-10-05 17:29] krantzinator commented on #2414
On second thought, to fix this we'd need to do a 0.5.3 CLI release, which we don't plan on doing.
In general, we recommend that users keep their CLI and server on at least the same point version (e.g. 0.5.x). Therefore, the solution for this issue, should someone upgrade their server to the upcoming 0.6.0 and keep their CLI at 0.5.2 or earlier, is to also upgrade the CLI to 0.6.0.

[2021-10-05 17:29] #2414 closed

[2021-10-05 18:09] krantzinator opened #2425 "cli: `release` cmd doesn't release the specified deployment"
**Describe the bug**
Running `waypoint release ID` does not release that specified deployment.

**Steps to Reproduce**
Using `waypoint-examples/docker/python` waypoint.hcl with a second app added.

[code]

**Expected behavior**
I would expect that:
* the deployment specified by ID would be released
* the info messages for the command would use the simple ID number rather than this complex ID numbe

[2021-10-06 09:57] #2339 closed

[2021-10-06 12:59] #2418 closed

[2021-10-06 13:22] jgwhite opened #2433 "cli: use `InitOp` in `waypoint init`"
Per @mitchellh’s comment on https://github.com/hashicorp/waypoint/pull/2145#pullrequestreview-745554546:

[2021-10-06 16:41] evanphx commented on #2314
A simple "fix" is to emit a warning on `waypoint install` that the context is using the allocation address.

[2021-10-06 16:48] evanphx commented on #2405
Hi @paladin-devops! Probably the way to address this need is to ask what is reading the consul DNS entries and redirecting traffic. For load balancers like traefik, the release would happen there, where consul keeps a consistent view of all waypoint deployments.

[2021-10-06 16:51] marcotuna commented on #2381
Hi @evanphx, Yes my image was based on a previously pushed image.
I am using waypoint as a release tool, I have already built docker containers.

Here's my waypoint configuration file:

[code]

[2021-10-06 16:55] evanphx commented on #2406
@pam199968 if you're willing, you could also take a snapshot of your server and send it to us. That could let us look at the data that's being managed, might help us track it down. The information on doing a snapshot is here: https://www.waypointproject.io/commands/server-snapshot

[2021-10-06 16:56] evanphx commented on #2433
This will be needed when we add the ability to initialize a workspace as well.

[2021-10-06 17:23] #529 closed

[2021-10-06 20:15] #2425 closed

[2021-10-06 22:35] paladin-devops commented on #1615
@mitchellh finally had time to play around with this today and got it working. ```artifact = artifact``` being passed didn't solve the issue; but it did lead me to the root cause, which was that the "artifact" variable itself was not being defined/passed to the deploy stanza, because I did not have a "registry" stanza. As I mentioned in my last comment, in my other waypoint.hcl with the "regular"

[2021-10-07 15:30] izaaklauer opened #2440 "Add documentation for runner profiles"
I think it would be worth adding a profile.mdx page to website/content/docs/runner, that talks about:

- [ ]  What profiles are
- [ ]  Why you would want to modify them, or add new ones
- [ ]  How (and why) to tie profiles to specific projects
- [ ]  When you would want to configure a runner with runner config set -env-vars vs config set -runner (i'm not clear on the answer to this myself)
- [ ]

[2021-10-07 19:02] briancain opened #2443 "ui: Display registry and build artifact information on a specific build page"
**Is your feature request related to a problem? Please describe.**

Now that we're showing deployment and release resource information in fancy tables (as of 0.6.0) when viewing those specific pages, it would also be really nice if we could show more artifact and registry information for the build page.

**Describe the solution you'd like**

Have a table of metadata describing the generated artifa

[2021-10-07 19:52] briancain opened #2445 "ui: Have a way to start or retry a new Build/Deploy/Release on each respective page"
**Is your feature request related to a problem? Please describe.**

If you make a configuration mistake with Waypoint, like through the UI setting the wrong username in an input variable, a lifecycle step will fail with incorrect credentials. Then the entire project fails without a way to rectify the configuration mistake. This is especially sticky if your project is a gitops project which might n

[2021-10-08 11:53] radriaanse opened #2448 "Make deploy stanza optional"
**Is your feature request related to a problem? Please describe.**
Using Waypoint to build/deploy multiple apps in a project is nice because it provides a single tool to do so.
There are however certain apps in a project that require no deploy stage, for example a Docker image source build (sources that can then be used in a multi-stage Dockerfile).

**Describe the solution you'd like**
Making the

[2021-10-08 12:30] jgwhite opened #2449 "ui: Theme preferences"
**Describe the feature you'd like**
Add theme selection preferences to the UI that allow me to override the system light/dark mode. Akin to GitHub’s preferences:

| “sync with system” | “single theme” |
| --- | --- |
| ![GitHub’s sync with system theme preference UI](https://user-images.githubusercontent.com/34030/136556839-43118711-de1c-42c2-b69b-70ca7d538caa.png) | ![GitHub’s single theme prefer

[2021-10-08 13:26] jgwhite opened #2452 "`waypoint server uninstall -platform=kubernetes` leaves `waypoint-runner` role and binding"
**Steps to Reproduce**

1. Install the waypoint server to a Kubernetes cluster
[code]
2. Uninstall the waypoint server
[code]
3. Observe that the `waypoint-runner` clusterrole and clusterrolebinding resources are still present
[code]
4. Try to reinstall the server and observe the following failure:
[code]

**Expected behavior**
The `waypoint-runner` `clusterrole` and `clusterrolebinding` should be

[2021-10-08 15:09] briancain opened #2454 "core: Waypoint still tries to use `git` on path and returns an error before continuing on"
**Describe the bug**

When you initialize a remote project or start a remote build that uses GitOps, Waypoint returns an error right away saying `git` was not found on the path. Then a few moments later, the project continues on just fine and the error goes away. This is likely a left over from when we removed the dependency of `git` being on the path in favor of the git Golang package for validat

[2021-10-08 16:00] jgwhite commented on #2454
Looking at that codepath in go-git, it seems like you’d only end up there if you were using the `file:` protocol. Is there some way that datasource could have mis-parsed the URL and get itself a file client?

[2021-10-09 07:43] pam199968 commented on #2406
I forgot a piece of information: We modified the container to allow it to access the docker daemon

FROM hashicorp/waypoint
MAINTAINER ans.fr
USER root
ARG GID=987
RUN addgroup -g $GID docker && \
    addgroup waypoint docker
USER waypoint

[2021-10-11 07:08] denysvitali opened #2455 "terminal: flashing lines"
**Describe the bug**
When any deployment command (that behind the scenes uses the `step`s and `StepGroup`) is run, and `-plain` is not used.

This bug happens on Arch Linux and macOS on Alacritty (not sure if it happens on other OSes or terminals).

**Steps to Reproduce**

Using any project:

[code]

(or any other command that uses steps and stepgroup)

**Expected behavior**
Terminal displays the

[2021-10-12 14:02] izaaklauer opened #2464 "website/plugin-docs: field metadata missing in some sub-fields"
In some nested fields in our website plugin docs, Type, Optionality, and Default data is missing.

Example: https://www.waypointproject.io/plugins/kubernetes#pod-pod_security_context-category

![image](https://user-images.githubusercontent.com/8404559/136970761-99ebfb0f-6252-4006-b81c-e3e2f7f3ccfc.png)

I'm pretty sure the bug is somewhere in here: https://github.com/hashicorp/waypoint-plugin-sdk/

[2021-10-12 20:24] #2059 closed

[2021-10-12 21:29] #2464 closed

[2021-10-13 11:13] jgwhite opened #2470 "ui: missing status report translation"
**Describe the bug**
Noticed this on the status report for a release:
<img width="501" alt="CleanShot 2021-10-13 at 13 11 50@2x" src="https://user-images.githubusercontent.com/34030/137122245-f716086c-f865-435f-b71f-00b59038fc2d.png">

**Waypoint Platform Versions**
Additional version and platform information to help triage the issue if
applicable:

* Waypoint CLI Version: fa669f58023288b4664d83ff

[2021-10-13 11:28] jgwhite opened #2471 "plugins/k8s: specifying ingress annotations clobbers other metadata"
**Describe the bug**
If I specify `annotations` on my `ingress` config then the other ingress metadata is not applied, resulting in the following error:

[code]

**Steps to Reproduce**
1. Declare `release` as follows:
[code]
2. Perform the release
[code]
3. Observe the error:
[code]

**Expected behavior**
The ingress resource should have both the annotations *and* the standard metadata.

**Waypoin

[2021-10-13 14:24] jgwhite opened #2475 "plugin/k8s: infer release host from ingress host"
**Is your feature request related to a problem? Please describe.**
When I use the kubernetes ingress feature (see code listing below) to create a release in the form of a kubernetes ingress resource, the release doesn’t pick up on the `ingress.host` setting, but rather gets the URL of the ingress load balancer.

[code]

**Describe the solution you'd like**
When I use `ingress.host` I’d like the re

[2021-10-13 15:48] #2471 closed, assigned to jgwhite

[2021-10-13 22:22] denysvitali commented on #1665
Whoa @briancain, I probably lived under a rock for the last 2 months. This is amazing!

Thank you! Can't wait to see these improvements! 🎉

---

Oh, and btw, unrelated, but today I held a public presentation about Hashicorp Waypoint - you can find the slides here: https://waypoint-slides.k8s.best/

[2021-10-13 22:26] briancain commented on #1665
@denysvitali wow! Love the slides 😄 Looks like you wrote a Waypoint app to deploy your slides? What a cool idea, love it!

[2021-10-13 22:28] briancain commented on #1665
No, honestly, more please! 😆 Maybe send it to our team email or share on discuss, we love stuff like this! Thank you for sharing 🎉

[2021-10-14 00:24] briancain opened #2484 "ui: Image registry in name ends up breaking formatting"
**Describe the bug**

Build a container with a local registry, like `localhost:5000/image-name`. Check out the UI for a deployment.

![Screenshot from 2021-10-13 17-22-13](https://user-images.githubusercontent.com/810277/137230329-7d164d6f-2b76-4405-94d0-8826d53b2d7f.png)

**Expected behavior**

It should be formatted properly

**Waypoint Platform Versions**
Additional version and platform informa

[2021-10-14 00:28] briancain commented on #2484
Guessing the split on image name just needs to be adjusted:

![Screenshot from 2021-10-13 17-28-26](https://user-images.githubusercontent.com/810277/137230702-7fe12077-7ae7-4c3f-a6a4-3075fb3faf0d.png)

[2021-10-14 21:06] jgwhite opened #2495 "ui: pick dark mode colors for docker image tag"
**Describe the bug**
<img width="645" alt="CleanShot 2021-10-14 at 23 04 52@2x" src="https://user-images.githubusercontent.com/34030/137395318-3d96c800-e2d7-47f8-9e55-b6ac76c25531.png">

**Waypoint Platform Versions**
Additional version and platform information to help triage the issue if
applicable:

* Waypoint CLI Version: 0.6.0
* Waypoint Server Platform and Version: kubernetes 0.6.0
* Waypoint

[2021-10-14 21:16] jgwhite opened #2497 "ui: re-run health check button alignment"
**Describe the bug**
The “re-run” button sits ever-so-slightly low on the line:

![CleanShot 2021-10-14 at 23 13 20@2x](https://user-images.githubusercontent.com/34030/137396575-0e3ccf0a-a0b0-41fb-ba05-e8ab0994ca3b.png)

**Waypoint Platform Versions**
Additional version and platform information to help triage the issue if
applicable:

* Waypoint CLI Version: 0.6.0

**Browser**
Chrome Version 94.0.

[2021-10-15 01:15] radriaanse commented on #2448
Hi @briancain, before we started using Waypoint we had a couple of tools/scripts to build containers separate from their deploy/release; although this is working just fine since we are using Waypoint now it feels a bit redundant to keep those around.

With Waypoint we can nicely define all our apps and only have to take into account a single tool, for building Docker container the plugin has more

[2021-10-15 07:48] marcotuna opened #2498 "Panic when attempting to get config from cli"
**Describe the bug**
After an upgrade from version 0.5.2 to 0.6.0 (both server and cli), when attempting to get project configurations it returns no configuration at all (empty), however it should return configurations and when I specify the flag `-app` it throws a panic error.

**Steps to Reproduce**
Steps to reproduce the behavior.

Configure a variable in waypoint (0.5.2 cli) with:

[code]

Att

[2021-10-15 10:08] #2470 closed, assigned to jgwhite

[2021-10-15 10:49] jgwhite opened #2500 "cli: `waypoint grpc`"
**Is your feature request related to a problem? Please describe.**
During development it’s very useful to explore the available data via Waypoint’s gRPC API. One can use [gRPCurl](https://github.com/fullstorydev/grpcurl) for this, but it’s unaware of waypoint’s currently active context, adding just a touch of friction to the process.

**Describe the solution you'd like**
I’d love an unlisted `wayp

[2021-10-15 14:51] krantzinator opened #2503 "Nomad ODR support"
**Is your feature request related to a problem? Please describe.**
Nomad ODR support to match our other installers

[2021-10-18 18:28] #2440 closed, assigned to izaaklauer

[2021-10-18 19:45] catsby commented on #2498
Thanks for opening this, and the suggested fix @marcotuna ! I'm going to investigate this a bit more before trying to apply that fix, just try and understand where we introduced the break and why

[2021-10-19 14:03] #1329 closed

[2021-10-20 03:41] paladin-devops commented on #2405
Hey @evanphx , thanks for getting back to me on this! After much deliberation, I am a bit torn on this topic. My usage of Waypoint is primarily with Nomad integration, and so I realize my answer may be partial to this particular plugin and the Hashicorp ecosystem in general.

With that said, I think that Consul may still be the place where a releaser can be integrated. I've considered how deployme

[2021-10-20 09:14] indistinctTalk opened #2523 "Certain commands result in panics"
**Describe the bug**
Following the [getting started with docker](https://learn.hashicorp.com/tutorials/waypoint/get-started-ui?in=waypoint/get-started-docker) tutorial, running `waypoint exec /bin/bash` or `waypoint logs` results in a panic.

**Steps to Reproduce**
https://gist.github.com/iJebus/bda2bb0bd4c6cfaeca9c92472de90f31

**Expected behavior**
The command to complete successfully.

**Waypoi

[2021-10-20 18:39] carloslozano opened #2530 "Waypoint fails to install via the CLI on Hardened Kubernetes"
**Describe the bug**
Waypoint fails to install via the CLI on Hardened Kubernetes.

**Steps to Reproduce**

1. Install waypoint 0.6
2. Install k8s 1.20 or 1.21.
3. Deploy Pod Security Policy with rule: "MustRunAsNonRoot" ([example](https://raw.githubusercontent.com/kubernetes/website/main/content/en/examples/policy/restricted-psp.yaml))
4. Run waypoint install -platform=kubernetes -accept-tos

**E

[2021-10-20 18:56] #2523 closed, assigned to izaaklauer

[2021-10-21 12:01] jgwhite opened #2539 "ui: `<StatusReportMetaTable>` alignment is slightly off"
**Describe the bug**
The values in the table are set ever-so-slightly low relative to the headings:

![CleanShot 2021-10-21 at 13 57 18@2x](https://user-images.githubusercontent.com/34030/138272599-7773deaf-89a2-4a0e-89d3-405be6ebe208.png)

**Steps to Reproduce**
1. Boot the dev server (`cd ui && yarn start`)
2. [Visit a deployment page](http://localhost:4200/default/marketing-public/app/wp-matrix

[2021-10-21 23:10] paladin-devops opened #2556 "Errors running entrypoint-related commands"
**Describe the bug**
Commands such as waypoint logs and waypoint exec do not yield expected results

**Steps to Reproduce**
Build container with Docker builder plugin. Deploy artifact to Nomad via Nomad jobspec plugin.

waypoint.hcl
[code]

waypoint logs output:
[code]

waypoint exec /bin/sh output:
[code]

Nomad jobspec excerpt (showing injection of entrypoint environment variables to Nomad job)

[2021-10-22 00:48] prabirshrestha opened #2560 "Gitops for waypoint configurations"
**Is your feature request related to a problem? Please describe.**
I would like to use git to define all my list of projects and waypoint configurations instead of using the cli or web interface.

**Describe the solution you'd like**
This is similar to how [argocd](https://argoproj.github.io/cd/) and [fluxcd](https://fluxcd.io/) works.

**Describe alternatives you've considered**
N/A.

**Explain a

[2021-10-22 10:50] jgwhite opened #2561 "ui: `ListStatusReports` is returning far more data than we need"
**Describe the bug**

For a deployment or release that’s been around for a few days, `ListStatusReports` returns *a lot* of data:

![list-status-reports](https://user-images.githubusercontent.com/34030/138441769-805f2975-a96b-498c-8fe4-82dad74ac85a.png)

**Potential solutions**
1. Use `UI_ListDeployments` (currently a little slow)
2. Use `GetLatestStatusReport` (though we’ll have to call this once

[2021-10-22 13:49] #2484 closed, assigned to jgwhite

[2021-10-22 13:49] #2495 closed, assigned to jgwhite

[2021-10-24 07:06] paladin-devops opened #2577 "Waypoint Docker builder FROM private registry fails"
**Describe the bug**
While using a Dockerfile in the Waypoint build stage with a base image from a private registry, waypoint build fails. This fails even while logged into the private registry on the same CLI running Waypoint (no remote operations enabled).

**Steps to Reproduce**
1. Write Dockerfile with a FROM layer, pulling from a private registry (requiring authentication)
2. Log in to the re

[2021-10-25 08:30] #2561 closed, assigned to jgwhite

[2021-10-26 13:41] izaaklauer opened #2589 "Azure authentication may fail to attempt CLI auth"
**Describe the bug**
Reported initially by https://discuss.hashicorp.com/t/azure-container-instance-deployment-is-failing/31064, waypoint reports the following error when using CLI auth:

[code]

From my reading of our authenticate function below, it looks like we try Environment auth, and if it times out, we try CLI auth.

https://github.com/hashicorp/waypoint/blob/c55a8698c63897cad519e68d7c887ee

[2021-10-26 17:33] #2129 closed, assigned to xiaolin-ninja

[2021-10-26 17:33] #2130 closed, assigned to nobody

[2021-10-26 22:31] briancain opened #2599 "Flaky Test: TestServiceGetLogStream_depPlugin"
This test is a flaky test that often fails on Circle:

https://app.circleci.com/insights/github/hashicorp/waypoint/workflows/go-tests/tests
https://app.circleci.com/pipelines/github/hashicorp/waypoint/10988/workflows/43f69b00-ccac-4d9d-a66f-540f4a3062cd/jobs/103289

[code]

[2021-10-26 22:33] briancain opened #2600 "Flaky Test: TestApplicationPollHandler"
This is a test that often flakes and fails in circle ci:

https://app.circleci.com/insights/github/hashicorp/waypoint/workflows/go-tests/tests
https://app.circleci.com/pipelines/github/hashicorp/waypoint/11628/workflows/5b971245-f3c9-4824-80ea-0cfb65ed3b34/jobs/111154

[code]

It's possible this PR might fix it: https://github.com/hashicorp/waypoint/pull/2598

The test fails when the next poll tim

[2021-10-27 08:55] Hamitamaru opened #2602 "Expand Exec plugin to support use in build stanza"
**Is your feature request related to a problem? Please describe.**
The same flexability we gain in the exec deploy plugin to allow the reuse of any pre-existing "deploy" tool, I want that same flexability to reuse any pre-existing "build" tool.

Currently I get
```! plugin does not implement: builder```

**Describe the solution you'd like**
Expand the existing exec deploy plugin to be usable for b

[2021-10-27 16:41] #2448 closed, assigned to nobody

[2021-10-28 19:39] sabrinako opened #2613 "ui: Update artifact details page to new design"
The page with the individual artifact's information needs to be updated to match the new design
See design files for further information

[2021-10-28 19:42] sabrinako opened #2614 "ui: Change UX of deployment's details from separate page to sidebar/panel design"
see: New design files for further information

Currently when you want to see the details of a specific deployment, you are routed to an entirely new page. We want instead for a main panel to re-render whenever a different deployment is chosen in a sidebar panel, and have the rest of the application overview screen stay.

[2021-10-29 13:20] ntx-ben opened #2615 "Kubernetes plugin: support for all apps/v1 resources (i.e. StatefulSets, DaemonSets, InitContainers, etc.)"
**Is your feature request related to a problem? Please describe.**
We're currently evaluating Waypoint and could not find any references to StatefulSets, DaemonSets, InitContainers, Volumes etc. in the "kubernetes" plugin of Waypoint. We were wondering if this is planned for future releases of Waypoint, or is it handled differently than the current Deployment capability?

**Describe the solution y

[2021-10-29 16:39] briancain opened #2620 "Add ResourceManager to Lambda plugin"
Add ResourceManager to the Lambda plugin.

[2021-10-29 16:39] briancain opened #2621 "Add ResourceManager to EC2 plugin"

[2021-10-29 16:40] briancain opened #2622 "Add ResourceManager to Azure ACI plugin"

[2021-10-29 16:48] #2097 closed, assigned to xiaolin-ninja

[2021-10-29 20:39] briancain commented on #2615
Ah yes, you are correct @ntx-ben. At the moment the K8s plugin doesn't allow you to specify any other kind of resource other than a Deployment. That's something we should be able to support. Thanks for the request!

[2021-10-29 22:42] izaaklauer opened #2624 "Kubernetes resources are created with app name only"
**Describe the bug**
Using the kubernetes plugin, deployments (and ingress and other resources) are created using only the app name. If waypoint has multiple projects that share an app name, the names will collide.

**Expected behavior**
Waypoint should use `<project-name>-<app-name>` to ensure a unique name.

[2021-11-01 16:50] evanphx commented on #2602
What you've got above uses the /tmp file to store the information between build and deploy. Which means you could never run `deploy` without running `build` first, which is an explicit feature of waypoint. Build plugins are expected to generate artifacts that are stable and return information about those artifacts as the return value of the plugin.

That information allows the deploy plugin the ab

[2021-11-01 16:51] evanphx commented on #2556
But did you use `waypoint install` on this new server? That is the phase that tells waypoint server about itself (it's address) that allows entrypoints to connect back to it.

[2021-11-01 19:05] briancain opened #2630 "Docs: Fill out rest of server upgrade guide"
**Is your feature request related to a problem? Please describe.**

Currently on the docs, we only talk about upgrading Waypoint server to 0.2.0 from 0.1.x.

https://tip.waypointproject.io/docs/upgrading/version-guides

**Describe the solution you'd like**

We should continue that and finish the other guides all the way up to the current version (As of this issue) 0.6.0. In the versions where ther

[2021-11-01 19:15] briancain opened #2631 "Docs: Document `waypoint install` as new guide in the "Running a Server" section"
**Is your feature request related to a problem? Please describe.**

We have docs that walk users through running the server manually with `waypoint server run`, but we don't have any specific docs on using the `waypoint server install` utility.

**Describe the solution you'd like**

Add documentation around using the `waypoint server install` utility, and have sections for each supported server pl

[2021-11-01 19:48] #2613 closed

[2021-11-01 20:02] that-guy-iain commented on #1306
Hey, just want to confirm that this is a bug that will be fixed in a future version and there is nothing I can do to fix it just now, right?

[2021-11-01 20:06] mitchellh commented on #1306
Kind of yes. Waypoint 0.6 switched to using on-demand runners for everything which no longer has this issue, but we're adding Nomad support right now (PR open already and likely merging any day now). Once that is merged, that will fix this because we no longer need a privileged environment to run Docker builds.

[2021-11-01 22:25] izaaklauer opened #2636 "Waypoint orphans canceled deployments"
**Describe the bug**
If you ctrl-c in the middle of a k8s deployment, waypoint will never delete the k8s deploy object. When it comes time to prune, it will delete it from the waypoint DB, but leave the deployment around.

Ctrl-c'ing a deployment is very commonly - if a user pushes a container that crashloops, we will sit in this waiting phase for up to five minutes, and most users probably won't